<div class="post-content">
    <h2 style="color: #D35400;"><span>UPI Details</span></h2>
    <p style="color: #333333; text-align: left;">
        Below is the valid UPI ID for Magadh Capital Advisors LLP as per the
        SEBI Circular on ‘Adoption of Standardised, Validated and Exclusive UPI
        IDs for Payment Collection by SEBI Registered Intermediaries from
        Investors’.
    </p>
    <p style="margin-top: 20px; color: #333333;">UPI ID - <strong id="upi"
            style="font-weight: 600;">magadh.pms@validkpay</strong></p>

    <div style="text-align: center;">
        <img
            src="../../../assets/images/MAGAD_QR_Code.png"
            alt="Kotak Mahindra Bank QR code for Magadh Capital Advisors LLP. Scan this code using your UPI app to pay using UPI ID magadh.pms@validkpay."
            style="margin-top: 20px; max-width: 300px;">

    </div>
</div>
