.f-navv {
  z-index: 999;
  position: fixed;
  right: 15px;
  bottom: 25px;
  width: 60px;
  // background: #F58220;
  margin-top: -5px;
  // box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.19);
}

.scroll-top {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.scroll-top.visible {
  opacity: 1;
  visibility: visible;
}
.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: transform 0.2s;
}

.social-icon:hover {
  transform: scale(1.1);
}

.fa-facebook {
  background-color: #3b5998;
}

.fa-linkedin {
  background-color: #007bb5;
}
