 <div class="card card-body border-0 p-0">
                    <div class="row spacing-40">
                        <div class="post-content">
                            <h2>Economy, markets and investments are some of our
                                favourite topics in our blogs. </h2>

                            <section class="calltoaction home3">
                                <div class="shadow-effect">
                                    <div class="row spacing-40">
                                        <div class="post-content">
                                            <h2 class="text-start mb-0 "><a
                                                    href="https://vipulprasadblog.wordpress.com/2017/12/31/2017-a-learners-journey/"
                                                    target="_blank">2017: A Learner’s Journey</a></h2>
                                            <div style="height: 2px; width: 5%;" class="bg-secondary mb-2"></div>
                                            <p>Titan – Ron Chernow – Superb
                                                insight into the life and
                                                thinking of the original
                                                “richest man of the world” and
                                                one of the “robber barons”.
                                                Close view of the American life
                                                in the second half of 19th
                                                century and early 20th century.
                                                Easy read but offers a lot to
                                                ponder regarding pursuit of
                                                wealth, regarding questions on
                                                legal/regulatory compliance, and
                                                regarding the link between
                                                wealth, religiosity and
                                                philanthropy.</p>
                                            <a class="button"
                                              aria-labelledby="A Learner’s Journey"
                                                href="https://vipulprasadblog.wordpress.com/2017/12/31/2017-a-learners-journey/"
                                                target="_blank">Continue reading
                                                →</a>
                                        </div>
                                    </div>
                                    <div class="row spacing-40">
                                        <div class="post-content">
                                            <h2 class="text-start mb-0 "><a
                                                    href="https://vipulprasadblog.wordpress.com/2017/07/25/the-actively-lazy-style-of-life-and-of-investments/"
                                                    target="_blank">The Actively Lazy Style; Of Life, and Of
                                                    Investments</a></h2>
                                             <div style="height: 2px; width: 5%;" class="bg-secondary mb-2"></div>
                                            <p>Blaise Pascal, the famous French
                                                physicist of the 17th century,
                                                had once said “All of humanity’s
                                                problems stem from man’s
                                                inability to sit quietly in a
                                                room alone.”
                                                <br /> Understandably it is not
                                                easy to extol the virtues of
                                                laziness, or even of selective
                                                inaction. However, if laziness
                                                is resorted to consciously, with
                                                full control over oneself, in
                                                many situations it can work
                                                wonders towards attainment of
                                                goals and achievement of
                                                happiness. It can be of immense
                                                value for people in fields as
                                                wide ranging as sports,
                                                investments, science,
                                                archaeology , human relations,
                                                medicine and business
                                                management. Being comfortable
                                                with status quo, with
                                                environment, and with oneself
                                                can at times be crucial for flow
                                                of creative juices, for
                                                revitalization of thought
                                                process, for avoiding disasters,
                                                and for action later with
                                                renewed vigor and enhanced
                                                focus.</p>
                                            <a class="button"  aria-labelledby="The Actively Lazy Style; Of Life, and Of Investments"
                                                href="https://vipulprasadblog.wordpress.com/2017/07/25/the-actively-lazy-style-of-life-and-of-investments/"
                                                target="_blank">Continue reading
                                                →</a>
                                        </div>
                                    </div>
                                    <div class="row spacing-40">
                                        <div class="post-content">
                                            <h2 class="text-start mb-0 "><a
                                                    href="https://vipulprasadblog.wordpress.com/2017/04/30/trees-dont-reach-the-sky-perspectives-on-regression-to-mean/"
                                                    target="_blank">Trees Don’t
                                                    Reach the Sky; Perspectives
                                                    on Regression to
                                                    Mean</a></h2>
                                             <div style="height: 2px; width: 5%;" class="bg-secondary mb-2"></div>
                                            <p>Success = Talent + Luck; Great
                                                Success = a little more talent+
                                                a lot of luck
                                                <br />
                                                <br /> This is how Daniel
                                                Kahneman, Nobel laureate in
                                                economics, responded on being
                                                asked for his favorite equation.
                                                Napolean Bonaparte had once
                                                quipped “I’d rather have a lucky
                                                general than a good one.”
                                                <br />
                                                <br /> Regression to mean (RTM)
                                                is one such phenomenon which in
                                                a sense is manifestation of
                                                luck. Understandably RTM
                                                provides the philosophical
                                                underpinnings for many
                                                decision-making systems. It can
                                                be the savior especially when we
                                                are tempted to extrapolate
                                                current trends into the future –
                                                nudging us towards better
                                                decisions.</p>
                                            <a class="button"  aria-labelledby="Trees Don’t
                                                    Reach the Sky; Perspectives
                                                    on Regression to
                                                    Mean"
                                                href="https://vipulprasadblog.wordpress.com/2017/04/30/trees-dont-reach-the-sky-perspectives-on-regression-to-mean/"
                                                target="_blank">Continue reading
                                                →</a>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>