 
    <div id="hw-hero">


<div id="page-header" class="difference">
     <div class="title-breadcrumbs">
      <div class="caption-box">
   <h1>Our Conventional  Style Makes Us Different</h1>
   <div class="thebreadcumb">
    <ul class="breadcrumb">
        <li>Old school investment style may seem boring but if applied with discipline and patience can lead to <br/>healthy wealth creation</li>
    </ul>
   </div>
   </div>

   </div>

    </div>
  </div>

<section class="content blog" id="difference-content">
  <div class="container">
    <div class="row" style="margin-top:20px">
      <div class="col-sm-12">
        <article>
          <div class="shadow-effect">
            <div class="post-content">
              <h2 style="text-transform: uppercase;">The <span>Magadh Difference</span></h2>
                <div style="height: 2px; width: 5%;"
                class="bg-secondary mb-2"></div>

              <p>We take an active approach based on a mix of core stock calls, tactical stock
                calls and counter consensus stock calls. We have an intense focus on risk
                mitigation</p>

              <p>In our view, Magadh Capital’s approach to investing is different from most other
                public equity-oriented investment vehicles in India due to its following traits–</p>

              <p><b style="font-weight: bold;">Amalgamation of fundamental research and behavioural finance– </b>We work with
                the purpose to understand the stocks owned in the portfolio and the underlying
                dynamics, as if the portfolio owns and runs those companies. Our fundamental
                research process is focussed on identifying instances of mispricing by the
                market. For this, we work to estimate a stock’s fair value in various scenarios.<br><br>
                Behavioural finance plays an extremely important role in our process. A large
                part of our work goes towards analysis of mistakes – ours and others’, and study
                of markets, psychology and history. This helps us avoid some common mistakes
                in our investment process. We assess each of our decision to buy, sell, or hold
                rigorously from the prism of behavioural finance.</p>

              <p><b>Active Approach-</b> Apart from core calls as identified above, some part of our
                portfolio consists of tactical stock calls. Here we put stocks that again are from
                our fundamental research based stock universe but that have some near term
                catalysts. For such stocks generally we exit once our price objectives are met
                once the catalysts have played out, or if we identify some other stock with better
                risk-reward characteristics.</p>

              <p><b>Intense focus on risk mitigation– </b>
                Understanding, assessing and mitigation of
                risks is of utmost importance for us. Our probabilistic approach mixed with the
                philosophy of trying to avoid deep, prolonged bear markets form the core of our
                investment process.<br><br>
                We do not attempt to time the market but act fast if there is a high conviction
                opportunity. We believe that it is not possible to consistently buy right at the
                bottom and sell right at the top. For example, we do not sell some stock in our
                portfolio with a hope to buy it 15-20% lower sometime in future. Underlying
                belief here is that any attempt to forecast macroeconomic or commodity cycles
                over short-term is difficult as well as futile. Hence investments based on
                expected trends in these cycles often have high degree of risks. However, if we have very high conviction (say, with a 80-85% confidence) that a stock will
                witness a 20-25% decline we are not shy of selling the stock. Further, we do try
                to avoid getting caught in the relatively less frequent but deep and prolonged
                bear markets like those in 2000, 2008 and in 2020.</p>

              <p><b>Dovetailing of deep quantitative work with plausible narratives- </b> Our fundamental research process works to identify the key business drivers and the
                building blocks of a company with an aim to draw conclusions that are
                quantifiable. Identification of key business drivers calls for working on
                narratives, scenarios and stories. These provide the assumptions for our
                proprietary earnings and valuation models which in turn form the backbone of
                our number crunching exercise to draw conclusions regarding the prospects of a
                company.</p>

              <p><b>Mix of Top down and Bottom-up investment-</b> Magadh Capital employs a rigorous
                approach to identify good stocks available at fair prices. Here the focus is largely
                on the stock’s prospects by analysing the company’s strategy, ecosystem,
                financials, industry prospects, and valuations.<br><br>
                At the same time, we also try to benefit from sectoral or economic tail winds. We
                are always on the lookout for new, relatively under-appreciated and sustainable
                themes and trends that can aid a company’s sustainable margins, earnings
                growth, and return ratios.</p>

            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
