 <div class="post-content">
    <h2>PORTFOLIO <span>MANAGER</span></h2>

    <br />
    <div id="download_links">
        <table id="dl_li">
            <tr>
                <th><h2>Downloads</h2></th>
            </tr>
            <tr title="download Disclosure Document">
                <td>
                    <a target="_blank" rel="noopener noreferrer"
                        href="./assets/documents/Disclosure Document Magadh Capital Advisors LLP_Final.pdf"
                        download="./assets/documents/Disclosure Document Magadh Capital Advisors LLP_Final.pdf"><li>Disclosure
                            Document</li></a>
                </td>

            </tr>
            <tr title="download Investor Charter Document">
                <td>
                    <a target="_blank" rel="noopener noreferrer"
                        href="./assets/documents/Investor Charter_Magadh Capital (Portfolio Manager).pdf"
                        download="./assets/documents/Investor Charter_Magadh Capital (Portfolio Manager).pdf"><li>Investor
                            Charter</li></a>
                </td>

            </tr>
            <tr title="download Investor Complaints Document">
                <td>
                    <a target="_blank" rel="noopener noreferrer"
                        href="./assets/documents/_assets_documents_MCA LLP PMS Investor Complaints march 2026.pdf"
                        download="./assets/documents/_assets_documents_MCA LLP PMS Investor Complaints march 2026.pdf"><li>Investor
                            Complaints</li></a>
                </td>
            </tr>
        </table>
    </div>
    <!-- <iframe src="http://magadhcapital.com/documents/Disclosure%20Document%20_MCA%20LLP.pdf"
     width="100%" height="800"></iframe> -->
    <div></div>
</div>
<div class="post-content">
    <h2>AIF <span>CATEGORY </span><span>&#8546;</span>
    </h2>

    <br />
    <div id="download_links">
        <table id="dl_li">
            <tr>
                <th><h2>Downloads</h2></th>
            </tr>
            <tr title="download AIF Document">
                <td>
                    <a target="_blank" rel="noopener noreferrer"
                        href="./assets/documents/Investor_Charter_for_AIFs.pdf"
                        download="./assets/documents/Investor_Charter_for_AIFs.pdf"><li>Investor
                            Charter</li></a>
                </td>
            </tr>
        </table>
    </div>
    <!-- <iframe src="http://magadhcapital.com/documents/Disclosure%20Document%20_MCA%20LLP.pdf"
     width="100%" height="800"></iframe> -->
    <div></div>
</div>