<main id="main-content">
    <div id="hw-hero">
<div id="page-header" class="contact">
   <div class="title-breadcrumbs">
   <h1>CONTACT US</h1>
   
   </div>
 
    </div>
    <!-- END OF PAGE HEADER -->
  </div>
 
 
 
<div class="about1-numbers contact">
      <div class="row">
 
        <div class="col-sm-6">
        <div class="shadow-effect">
          <div class="row">
            <div class="col-sm-12 col-md-3">
            <div class="number lightgray"><span class="typcn typcn-mail"></span></div>
            </div>
            <div class="col-sm-12 col-md-9">
              <h2 style="text-transform:uppercase;">email us at:</h2>
              <p>Please drop us an email on</p>
 
              <span><p>For investment related queries, e-mail us at<br><a href="mailto:Investor.info@magadhcapital.com"><u>Investor.info@magadhcapital.com</u></a></span>
              <span><p>For any other query, e-mail us at<br><a href="mailto:info@magadhcapital.com"><u> Info@magadhcapital.com </u> </a></span>
                <span><p>For grievance related to Portfolio Management Services, e-mail us at<br><a href="mailto:grievance.pms@magadhcapital.com"><u>grievance.pms@magadhcapital.com</u></a></span>
                <span><p>For grievance related to Alternative Investment Fund, e-mail us at<br><a href="mailto:grievance.aif@magadhcapital.com"><u>grievance.aif@magadhcapital.com</u></a></span>
 
            </div>
 
           </div>
          </div>
        </div>
 
       
 
        <div class="col-sm-6">
         <div class="shadow-effect">
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <div class="number green"><span class="typcn typcn-location"></span></div>
            </div>
            <div class="col-sm-12 col-md-9">
              <h2 style="text-transform:uppercase;">our office address:</h2>
              <p>B-701, Marathon Futurex,
Mafatlal Mills Compound, N.M. Joshi Marg,
Lower Parel, Mumbai- 400 013, India</p>
              <br><br><br><br>
            </div>
            </div>
          </div>
        </div>
      </div>
 
      </div>
      <iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7545.124525617597!2d72.8306556!3d18.99493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cef3836311c1%3A0x8cfa9225e0aa9bca!2sMarathon%20Futurex!5e0!3m2!1sen!2sin!4v1748877981979!5m2!1sen!2sin%22"
width="100%" height="350"  style="border:0;" allowfullscreen ></iframe>
</main>