<header>
    <div id="hw-hero">
    <div id="page-header" class="contact">
        <div class="title-breadcrumbs">
            <h1>INVESTOR ASSISTANCE</h1>
        </div>
    </div>
</div>
</header>
 
<div class="row">
    <div class="col-sm-12 normaltabs tabs-top-horizontal my-3">
        <!-- <nav aria-label="Investor Assistance Tabs"> -->
        <ul
            class="nav nav-tabs"
            id="assistances"
            role="tablist"
            style="position: relative; z-index: 2">
            <!-- <li
                class="nav-item"
                role="presentation"
                [class.active]="activeTab === 'login'">
                <a
                    class="nav-link"
                    id="tab-style-tab"
                    [routerLink]="[]"
                    data-bs-toggle="tab"
                    href="#login"
                    fragment="login"
                    role="tab"
                    aria-controls="tab-style"
                    aria-selected="true">Login
                </a>
            </li> -->
            <li
                class="nav-item"
                role="presentation"
                [class.active]="activeTab === 'invest'">
                <a
                    class="nav-link"
                    id="tab-invest-tab"
                    data-bs-toggle="tab"
                    [routerLink]="[]"
                    href="#invest"
                    fragment="invest"
                    role="tab"
                    aria-controls="tab-invest"
                    aria-selected="false">How to Invest with us</a>
            </li>
            <li
                class="nav-item"
                role="presentation"
                [class.active]="activeTab === 'download'">
                <a
                    class="nav-link"
                    id="tab-download"
                    [routerLink]="[]"
                    data-bs-toggle="tab"
                    href="#download"
                    role="tab"
                    aria-controls="tab-download"
                    aria-selected="false"
                    fragment="download">Downloads</a>
            </li>
            <li
                class="nav-item"
                role="presentation"
                [class.active]="activeTab === 'complaints'">
                <a
                    class="nav-link"
                    id="tab-complaints"
                    [routerLink]="[]"
                    data-bs-toggle="tab"
                    href="#complaints"
                    role="tab"
                    aria-controls="tab-complaints"
                    aria-selected="false"
                    fragment="complaints">Grievances</a>
            </li>
            <li
                class="nav-item"
                role="presentation"
                [class.active]="activeTab === 'FAQ'">
                <a
                    class="nav-link"
                    id="tab-FAQ"
                    [routerLink]="[]"
                    data-bs-toggle="tab"
                    href="#FAQ"
                    role="tab"
                    aria-controls="tab-FAQ"
                    aria-selected="false"
                    fragment="FAQ">FAQ</a>
            </li>
        </ul>
        <!-- </nav> -->
        <main id="main-content">
 
        <div class="tab-content">
            <div class="tab-pane fade in" id="login">
                <app-login-in
                    *ngIf="activeTab === 'login'"
                    [class.active]="activeTab === 'login'"
                    [class.show]="activeTab === 'login'"></app-login-in>
            </div>
            <div
                class="tab-pane"
                id="invest"
                [class.active]="activeTab === 'invest'"
                [class.show]="activeTab === 'invest'"
                *ngIf="activeTab === 'invest'">
                <app-how-to-invest-with-us></app-how-to-invest-with-us>
            </div>
            <app-downloads
                *ngIf="activeTab === 'download'"
                [class.active]="activeTab === 'download'"
                [class.show]="activeTab === 'download'"></app-downloads>
            <app-grievances
                *ngIf="activeTab === 'complaints'"
                [class.active]="activeTab === 'complaints'"
                [class.show]="activeTab === 'complaints'"></app-grievances>
            <app-faqs
                *ngIf="activeTab === 'FAQ'"
                [class.active]="activeTab === 'FAQ'"
                [class.show]="activeTab === 'FAQ'"></app-faqs>
        </div>
        </main>
    </div>
</div>