 

    <div id="hw-hero"> 
<div id="page-header" class="contact">
   <div class="title-breadcrumbs">
   <h1>INVESTMENT</h1>
   
   </div>

    </div>
    <!-- END OF PAGE HEADER -->
  </div>


<!-- <section class="content blog"> -->
<div class="row">
  <div class="col-sm-12 normaltabs tabs-top-horizontal my-2">
    <ul class="nav nav-tabs" id="philosophyTabs" role="tablist"
      style="position:relative; z-index:2;">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tab-style-tab" data-bs-toggle="tab"
          href="#style" role="tab" aria-controls="tab-style"
          aria-selected="true">Investment Philosophy &amp; Style</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="tab-process-tab" data-bs-toggle="tab"
          href="#process" role="tab" aria-controls="tab-process"
          aria-selected="false">Investment Process</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="tab-inspiration-tab" data-bs-toggle="tab"
          href="#inspiration" role="tab" aria-controls="tab-inspiration"
          aria-selected="false">Our Inspiration</a>
      </li>
    </ul>
    <div class="tab-content pt-3" style="position:relative; z-index:1;">
      <div class="tab-pane fade show active" id="style" role="tabpanel"
        aria-labelledby="tab-style-tab">
        <div class="card card-body border-0">
          <div class="row spacing-40">
            <div class="post-content">
              <h2>INVESTMENT PHILOSOPHY AND STYLE</h2>
        
              <section class="calltoaction home3"
                style="padding-top:40px!important; padding-bottom: 40px;">
                <div class="shadow-effect">
                  <div class="cta-title orange">Our Philosophy</div>
                  <div class="wow fadeInUp" data-wow-duration="1000ms"
                    data-wow-delay="300ms"
                    style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp; height:auto">
                    <div class="row" style="margin-top: 20px;">
                      <div class="col-sm-12">
                        <p>We believe that the best way to generate superior
                          long-term returns is to identify good
                          companies with sustainable competitive advantages, to
                          buy them at fair prices, and to hold
                          them patiently over long term.</p>
                        <p>The core tenets of our philosophy are:</p>
                        <div class="row">
                          <div class="col-md-6 shadow-effect-2"
                            style="height:350px;">
                            <div>
                              <h5>On Investments</h5>
                              <ul>
                                <li>For good long term investment outcomes, it
                                  is extremely important to protect the
                                  capital</li>
                                <li>Deep, fundamental research is a good way to
                                  reduce the element of luck in investments</li>
                                <li>Probabilistic approach helps in limiting the
                                  impact of mistakes</li>
                                <li>A combination of skepticism towards stock
                                  ideas, and optimism on equity markets is
                                  required for investment success</li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-6 shadow-effect-2"
                            style="height:350px;">
                            <div>
                              <h5>On Entry Price and Margin of Safety</h5>
                              <ul>
                                <li>Every asset has a fair value range</li>
                                <li>Purchase price plays a big role in alpha
                                  generation</li>
                                <li>Even good stocks with poor entry point
                                  damage wealth creation process</li>
                                <li>Meaningful gap between fair value and stock
                                  price helps during prolonged irrational market
                                  moves</li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-6 shadow-effect-2"
                            style="height:350px;">
                            <div>
                              <h5>On Risk</h5>
                              <ul>
                                <li>Markets are inherently risky, and only
                                  partially efficient. However, markets’
                                  inefficiency also provides instances of
                                  mispricing in stocks</li>
                                <li>Focus relentlessly on capital
                                  protection</li>
                                <li>Reasonable level of diversification – in
                                  terms of both, quantity as well as quality- to
                                  curb portfolio correlation - to optimize
                                  risk-reward</li>
                                <li>Top down- Strive to avoid getting caught in
                                  bear market traps. Bottom up - Strict
                                  corporate governance filter</li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-6 shadow-effect-2"
                            style="height:350px;">
                            <div>
                              <h5>On Stock Selection</h5>
                              <ul>
                                <li>Focus should be on fast growing and/or
                                  mispriced companies led by good
                                  management</li>
                                <li>Leadership – existing or potential- in a
                                  sector or sub-sector, backed by sustainable
                                  competitive advantages are some key indicators
                                  for good companies</li>
                                <li>Corporate governance is an important filter
                                  to use</li>
                              </ul>
                            </div>
                          </div>
                          <div class="row">

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="calltoaction home3"
                style="padding-top:40px!important; padding-bottom: 40px;">
                <div class="shadow-effect">
                  <div class="cta-title orange">Investment Style</div>
                  <div class="row safe_row_margin">
                    <div class="wow fadeInUp" data-wow-duration="1000ms"
                      data-wow-delay="300ms"
                      style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;height:auto">
                      <div class="row" style="margin-top: 20px;">
                        <div class="col-sm-12">
                          <div class="row">
                            <div>
                              <p>We focus on identifying mispriced stocks and
                                try to assess the margin of safety. For the
                                purpose, we perform fundamental research to
                                estimate fair value of a stock and possible
                                catalysts. </p>
                            </div>
                            <div class="col-md-6 shadow-effect-2"
                              style="height:350px;">
                              <div>
                                <ul>
                                  <li>Not shy of taking cash calls even if
                                    rarely, on macro views to avoid nasty bear
                                    markets</li>
                                  <li>Act aggressively if a mistake is spotted
                                    in the portfolio</li>
                                  <li>For our tactical calls –identified based
                                    on fundamental research but that have potent
                                    near term triggers too- we follow an active
                                    management approach depending on stock
                                    catalysts and change in stocks’ fair
                                    values</li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-6 shadow-effect-2"
                              style="height:350px;">
                              <div>
                                <p>Magadh Capital is extremely conscious of
                                  managing risks. For us selecting good
                                  companies stocks with healthy growth ahead of
                                  them – that is currently not
                                  fully recognized by the market - is crucial
                                  for wealth creation. At the same time
                                  entry price too plays an important role in
                                  stock returns. We work with the belief
                                  that stocks move as per their future potential
                                  – not on their past developments,
                                  and that having a long-term horizon is a must
                                  to reduce the element of luck in
                                  investments.</p>
                              </div>
                            </div>
                            <div>
                              <p><br><br><br>We follow a mix of value and growth
                                style - growth at reasonable price, and value
                                with clear catalysts.</p></div>

                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row safe_row_margin">
                    <div class="col-md-6">
                      <p><strong  style="font-weight: bold ;">Clear focus on value as opposed to
                          price</strong>– Magadh Capital believes that price is
                        the least important factor to track in analyzing a stock
                        and instead emphasizes on drawing scenarios and ranges
                        for the intrinsic value of the stock.</p>
                      <blockquote class="blockquote-colored">
                        <p>Keen for contrarian opportunities, Look for simple
                          businesses, Timely identification of and corrective
                          action on mistakes</p>
                      </blockquote>
                      <p><strong  style="font-weight: bold ;">Keen for contrarian opportunities if
                          convinced</strong>– We work with the premise that the
                        strongest returns are made when a stock purchase is made
                        amid extreme general pessimism. Obviously, the
                        expectations on future prospects of the stock need to be
                        met – against general pessimism – in order to deliver
                        good returns.</p>
                      <!--
                <p>Look for simple businesses – In portfolio construction we stick to the well-known saying “ If we do not understand a business, we don't buy it “. We avoid investments in stocks of companies having complicated business models with too many drivers and reliance on exotic modes of business growth.   </p>    -->
                      <p>Timely identification of and corrective action on
                        mistakes– Another aphorism that we take seriously is “If
                        facts change we change our views”. While deep and wide
                        fundamental research provides Magadh Capital an edge in
                        its stock picks, there are still possibilities of some
                        mistakes and in some instances, rapid erosion in
                        business prospects. In such eventuality the portfolio
                        strives to act quickly and to realign the portfolio to
                        mitigate the impact of any mistake, or to reflect the
                        change in business environment.</p>
                    </div>
                    <div class="col-md-6">
                      <div class="image-padding-shadow"><img
                          src="assets/img/inner/3.jpg" alt></div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="process" role="tabpanel"
        aria-labelledby="tab-process-tab">
        <div class="card card-body border-0">
          <div class="row spacing-40">
            <div class="post-content">
              <h2>INVESTMENT PROCESS</h2>
              <div style="height: 2px; width: 5%;"
                class="bg-secondary"></div>
              <section class="calltoaction home3"
                style="padding-top:40px!important; padding-bottom: 40px;">
                <div class="shadow-effect">
                  <div class="row" id="process9">
                    <div class="col-md-6 safe_row_margin">
                      <div class="image-padding-shadow"><img
                          src="assets/img/inner/9.jpg" alt></div>
                    </div>
                    <div class="col-md-6 safe_row_margin">
                      <h2>Investment Process</h2>
                      <p><strong  style="font-weight: bold ;">Bottom up is the way, though top-down guidance
                          can be helpful too</strong>– We often begin
                        investigating a stock on the basis of our screens, or
                        sell side recommendations or media reports. Industry
                        themes too can serve as good starting points even though
                        final investment decision are largely driven by
                        bottom-up/top down stock analysis.</p>
                      <!--
                            
                            <p>Big companies have small moves, small companies have big moves (but remember to balance the risks) - The fund has some bias for smaller stocks though with a heavy emphasis on quality checks especially on corporate governance. However, we do understand that occasionally smaller stocks can be more volatile and hence the fund strives to keep some top quality large names too in the portfolio. Typical stock ideas on Magadh’s radar will have return potential of at least 200% and low downside risk over 4-5 years.</p>
                            
                            <p>Avoid hot stocks in hot industries – The fund does not intend to attempt to make gains in the short term since it works with the belief that there is no free lunch in the world of investments. Accordingly, seasonal flavours or themes in vogue are avoided by the fund. Application of sophisticated hedging instruments too does not gel with Magadh’s philosophy and hence the fund will not participate in any way in futures, options or other derivatives. Similarly, momentum strategy does not play much role in our stock selection process.</p> -->
                    </div>
                  </div>
                  <div class="col-sm-12" style="margin-bottom: 40px;"> </div>
                  <div class="row safe_row_margin">
                    <div class="image-padding-shadow"><img
                        src="assets/images/stock-selection(process).png"></div>
                  </div>
                  <div class="row safe_row_margin">
                    <div class="col-md-6 desktop-only"
                      style="margin-bottom:40px">
                      <div class="image-padding-shadow"><img
                          src="assets/img/inner/7.jpg" alt></div>
                    </div>
                    <div class="col-md-6">
                      <p><strong style="font-weight: bold ;">Use all the relevant valuation methodologies
                          but keep discounted cash flow as the bed rock -
                        </strong>For valuation exercise Magadh Capital employs
                        various methodologies like earnings multiples based,
                        asset multiples based or cash flow analysis based
                        depending on the situation. However, in the stock
                        selection process one common thread across various
                        situations is the application of discounted cash flow
                        analysis which is used as a starting point in evaluation
                        of almost every stock. Here particular emphasis is given
                        on analyzing a range of scenarios rather than a point
                        forecast.</p>
                    </div>
                    <div class="col-md-6 mobile-only">
                      <div class="image-padding-shadow"><img
                          src="assets/img/inner/7.jpg" alt></div>
                    </div>
                    <div class="col-md-12">
                      <h5>Stock selection process</h5>
                      <!--
                            <p>The fund has a rigorous, fundamental research-based approach to stock selection. Below is the list of the main steps in our stock selection process - </p>
                            
                            <h5>An industry or macroeconomic theme, or a qualitative screen</h5>
                            <p>As mentioned earlier, an industry or macroeconomic theme often acts as a good starting point in this process. Some quick analysis of the long-term impact of an ongoing or potential  development in an industry or on the broader macroeconomic landscape, and identification of stocks that may get affected by that development can present a small bunch of stocks that can be taken up for further analysis. Similarly, at times the fund runs qualitative screens based on some selected fundamental parameters to get a small set of stocks that prima facie looks good. These stocks are then tested for investment attractiveness at the following steps. </p>
                             </div> -->
                      <!--
                            
                            <p>Apart from the above, Magadh also keeps doing preliminary work on potentially interesting stocks that are referred to in media, or which are alluded to by its industry contacts or during its routine channel checks – to see if they can fit into its framework for further investigation.  </p> -->
                      <p>Magadh Capital has a rigorous, fundamental
                        research-based approach to stock selection. Below is the
                        list of the main steps in our stock selection process
                        -</p>
                      <h5>Initial filters: Corporate governance and management
                        vision and ability </h5>
                      <p>Magadh Capital takes corporate governance standards as
                        an extremely important
                        yardstick in its process. This is the first elimination
                        parameter in its investment
                        process. Magadh Capital assesses the track record and
                        the company’s perception
                        amongst its various stakeholders. Similarly, management
                        vision and execution
                        capabilities are crucial criteria. Special focus is
                        attached to management’s track
                        record on capital allocation and focus on shareholders’
                        return. </p>
                      <p>Every stock that we invest in has some common traits -
                        robust corporate
                        governance, good management, and existing or potential
                        competitive
                        advantages. Apart from this the portfolio consists of a
                        wide mix - some portion
                        of our portfolio is allocated to stocks that are out of
                        favour in the markets for
                        some reason, while some portion is deployed in stocks
                        that are set to deliver
                        solid earnings growth and return ratios. </p>
                      <h5>An industry or macroeconomic theme, or a qualitative
                        screen</h5>
                      <div>
                        <div class="row">
                          <div class="col-md-12 shadow-effect-3">
                            <div>
                              <ul style="list-style-type:none;">
                                <li>Screeners that we typically use in the 2nd
                                  step of our stock selection process</li>
                                <li>Growth: Revenue, EBITDA, net profit, EPS,
                                  net worth, net block etc</li>
                                <li>Returns: RoE, RoCE</li>
                                <li>Margins: EBITDA, PAT</li>
                                <li>Valuations: P/E, P/BV; current, and 5 years
                                  and 10 years averages</li>
                              </ul>

                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <p>As mentioned earlier, an industry or macroeconomic
                        theme often acts as a good starting point in this
                        process. Some quick analysis of the long-term impact of
                        an ongoing or potential development in an industry or on
                        the broader macroeconomic landscape, and identification
                        of stocks that may get affected by that development can
                        present a small bunch of stocks that can be taken up for
                        further analysis. Similarly, at times the portfolio runs
                        qualitative screens based on some selected fundamental
                        parameters to get a small set of stocks that prima facie
                        Looks good. These stocks are then tested for investment
                        attractiveness at the following steps.</p>
                      <p> Apart from the above, Magadh Capital also keeps doing
                        preliminary work on potentially interesting stocks that
                        are referred to in media, or which are alluded to by its
                        industry contacts or during its routine channel checks –
                        to see if they can fit into its framework for further
                        investigation. </p>
                      <h5>Identification of competitive advantages, their
                        analysis and assessment of their sustainability</h5>
                      <div>
                        <div>
                          <div class="row">
                            <div class="col-md-12 shadow-effect-3">
                              <div>
                                <h6>What do we aim to decipher from fundamental
                                  analysis in the 3rd and 4th steps of our stock
                                  selection process?</h6>
                                <ul>
                                  <li>Return ratios and growth – existing, or
                                    potential- and their sustainability are the
                                    critical quantifiable markers for
                                    competitive advantages of a company</li>
                                  <li>Look for impending structural improvement
                                    in metrics like earnings trajectory,
                                    operating costs, return ratios, financial
                                    leverage etc – analyze their impact on fair
                                    value</li>
                                  <li>Keep an eye on industry tailwind-they
                                    often aid sharp earnings growth and
                                    potential rerating</li>
                                  <li>Fair value ranges for the stock in more
                                    than one scenarios and probability of those
                                    scenarios playing out</li>
                                </ul>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <p>This is the first level of detailed analysis of the
                        company with higher emphasis on strategy and vision.
                        Here attempt is made to analyze last 10-15 years’
                        earnings, competition, entry barriers, suppliers,
                        products, customers, capital allocation, and project
                        execution in the context of industry. Companies’ annual
                        reports, result presentations, interview with the
                        company, and sell side analyst reports are some of the
                        key source of information for this exercise.
                        Conversation with senior managers as well as mid and
                        low-level employees in the company is an integral part
                        of this process. Equally important is the fact that the
                        Investment Managers talks to people (like customers,
                        suppliers, competitors etc) in the company’s business
                        ecosystem to get new and more perspectives.</p>
                      <p>This step of the process is conducted in conjunction
                        with the next step.</p>
                      <h5>Forecast of P&L and Balance Sheet for next 5-7
                        years</h5>
                      <p>In this step we continue with the process to understand
                        the finer points of the business drivers and the
                        company’s ecosystem. Along with this, earnings models
                        are created to forecast cash flows, income statements
                        and balance sheets for 5-7 years.</p>
                      <p>Initially this step and the previous ones are taken at
                        a relatively cursory level. If good upside potential is
                        spotted in the first cut, then a detailed run of these
                        two steps is taken.</p>
                      <h5>Valuation in context of business economics</h5>
                      <p>Multiples based (industry as well as historical on
                        earnings basis and/or asset basis) methodology and the
                        DCF method are the two important methods that the Magadh
                        Capital applies in valuation exercise. Based on outcomes
                        of the two earlier steps we attempt to generate
                        valuation scenarios under various assumptions and then
                        try to estimate potential entry price, margin of safety,
                        and upside potential in the stock under various
                        scenarios. Here we also try to quantify the risks
                        associated in the stock.</p>
                    </div>
                  </div>
                  <div style="border-radius: 5px;
                                padding: 15px 15px 15px 15px;color:#fff;
                                background: #F58220;
                                border: 0;margin-bottom:15px;">
                    <h5>Our portfolio construction process is based on our
                      proprietary FACTS Box-
                      validation process which optimizes the risk-reward profile
                      of the portfolio. All
                      stocks in our portfolio must be amongst the potential
                      winners in at least one of
                      the FACTS Box categories. </h5>
                    <p>FACTS stands for Fast growers, Asset plays, Cyclical,
                      Turn around, Stalwarts</p>
                  </div>
                  <p>We deploy our proprietary FACTS Box framework for portfolio
                    construction to optimize
                    risk-reward.</p>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="inspiration" role="tabpanel"
        aria-labelledby="tab-inspiration-tab">
        <div class="card card-body border-0">
          <div class="row spacing-40">
            <div class="post-content">

              <div>
                <h2>OUR <span class="text-primary">INSPIRATION</span></h2>
                <div style="height: 2px; width: 5%;"
                  class="bg-secondary mb-2"></div>
                <section>
                  <div class="row">
                    <div class="col-md-6">
                      <!-- <p>In our thought process as well as in practice we draw inspiration from some well-regarded and successful fundamental investors like Warren Buffet, Charlie Munger, Benjamin Graham, Philip Fisher, Peter Lynch, John Templeton and Howard Marks. Similarly, we are also influenced by works of exceptional thinkers like Daniel Kahneman, Amos Tversky, Richard Thaler, Robert Schiller, Peter Tetlock and Dan Ariely from a behavioural economics perspective. While our style draws heavily from the above-named investors and behavioural economics practitioners, over time it has evolved into our own philosophy of investing and is aligned with our aptitude and mental set up.</p> -->
                      <p style="text-align:justify;">We list below some of the
                        aphorisms/thoughts/views - from the below named and some
                        other leading thinkers, that we like and try to
                        incorporate in our thinking and action. At the same
                        time, as one of the quotes below suggests we do not take
                        any rule – with the exception of some like those
                        relating to integrity and values- as sacrosanct in every
                        circumstance. </p>
                    </div>
                    <div class="col-md-6">
                      <div class="image-padding-shadow"><img
                          src="assets/img/inner/ins4.jpg" alt></div>
                    </div>
                  </div>
                  <h4>On long term perspective in investing</h4>
                  <p>Investing should be more like watching paint dry or
                    watching grass grow. If you want excitement go to Las Vegas
                    – Samuelson</p>
                  <p><span style="color:#0000FF">Our View:</span> Patience and
                    discipline are fundamental requisites of Magadh Capital’s
                    investment process. </p>
                  <blockquote class="blockquote-colored">
                    <p>In the short run market is a voting machine but in the
                      long run it is a weighing machine – Benjamin Graham</p>
                    <p>Be patient. Watched stock never boils - Peter Lynch</p>
                    <p>In and out may be out of money - Philip Fisher</p>
                    <p>If you aren't prepared to own a stock for ten years don't
                      even think of owning it for ten minutes –Warren Buffet</p>
                    <p>In short term you may experience good or bad luck and
                      that may overwhelm skill but in the long term luck tends
                      to even out and skill determines the result – Michael
                      Mauboussin</p>
                  </blockquote>
                  <p><span style="color:#0000FF">Our View:</span> All of the
                    above reinforce our belief that long term investing has
                    higher probability of delivering attractive returns in
                    equity markets. </p>
                  <h4>On fundamental research</h4>
                  <p>Real knowledge is knowing the extent of one’s ignorance –
                    Confucius</p>
                  <p><span style="color:#0000FF">Our View:</span> Accordingly we
                    do not invest in stocks whose business we do not understand.
                    This also helps us in our pursuit of keeping things simple.

                    <blockquote class="blockquote-colored">
                      <p>Investment in knowledge pays the best interest –
                        Benjamin Graham </p>
                      <p>Know what you own and know why you own it – Peter
                        Lynch</p>
                      <p>It amazes me how often people are more willing to act
                        based on little or no data rather than to use data that
                        is a challenge to assemble - Robert Schiller</p>
                    </blockquote>
                    <p><span style="color:#0000FF">Our View:</span> These
                      reinforce Magadh Capital’s belief in fundamental research
                      based approach. At the same time this necessitates a
                      relatively concentrated portfolio. </p>
                    <p>I'd be a bum on the street with a tin cup if the markets
                      were always efficient –Warren Buffet </p>
                    <p><span style="color:#0000FF">Our View:</span> Our belief
                      in inefficiency of the markets is the reason for our
                      confidence in the long term, bottom up fundamental
                      research process that we
                      use. </p>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="image-padding-shadow"><img
                            src="assets/img/inner/ins2.jpg" alt></div>
                      </div>
                      <div class="col-md-6">
                        <p>Investors should be wary of history based models.
                          Constructed by a nerdy sounding priesthood using
                          esoteric sounding terms these models tend to look
                          impressive. Too often though the investors forget to
                          examine the assumptions behind the models - Warren
                          Buffet</p>
                        <p><span style="color:#0000FF">Our View:</span> In our
                          experience in the investment industry we have seen on
                          numerous
                          occasions that a strictly model based approach often
                          delivers poor forecasts. Too much
                          complication in the models, insufficient emphasis on
                          qualitative aspects required to
                          nail down the assumptions, and a lack of a bridge
                          between past and future in the
                          model at times are the culprits.</p>
                        <p>An investor should have an adequate idea of stock
                          market history particularly of the major fluctuations
                          –Benjamin Graham <br />
                          The four most expensive words in English language are
                          ' this time it's different ' - John Templeton</p>
                        <p><span style="color:#0000FF">Our View:</span> Magadh
                          Capital aims to be aware of possibilities in various
                          outcomes and continuously tries to seek parallels and
                          ideas from the past. We like reading about history,
                          economics, politics, sociology, psychology etc to draw
                          mental patterns applicable in current context.</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <h4>On behavior and biases</h4>
                        <p>To every rule there are exceptions ...but not many –
                          Philip Fisher </p>
                        <p><span style="color:#0000FF">Our View:</span> We do
                          work with values and boundary conditions but also
                          values the importance of flexibility. </p>
                        <p>All men's miseries derive from not being able to sit
                          in a quiet room alone - Blaise pascal </p>
                        <p><span style="color:#0000FF">Our View:</span> This is
                          the inspiration for Magadh Capital’s ability to remain
                          inactive
                          during periods of extreme volatility. Our principle of
                          not being tempted to buy
                          some stock just because it has fallen a lot is rooted
                          in this sentence largely. In
                          addition, this is the inspiration to delve deeper as a
                          part of Magadh Capital’s
                          process of fundamental research.</p>
                        <p>Art of being wise is the art of knowing what to
                          overlook – William James</p>
                        <p><span style="color:#0000FF">Our View:</span> Magadh
                          Capital looks at investment more as a process of
                          rejection. Accordingly our stock selection process is
                          driven by sceptical optimism. </p>
                      </div>
                      <div class="col-md-6">
                        <div class="image-padding-shadow"><img
                            src="assets/img/inner/8.jpg" alt></div>
                      </div>
                    </div>
                    <p>We don’t see things as they are but as we are – Anais
                      Nin</p>
                    <p><span style="color:#0000FF">Our View:</span> The
                      portfolio consciously strives, at every stage, to avoid
                      this behavioural pitfall so that facts are not distorted
                    </p>
                    <p>We have a passion for keeping things simple – Charlie
                      Munger</p>
                    <p><span style="color:#0000FF">Our View:</span> This is how
                      Magadh Capital tries to run the portfolio and this is what
                      we
                      look for in a stock. Indeed, simplicity is one of the
                      basic principles in everything we do. </p>
                    <blockquote class="blockquote-colored">
                      <p>Stock price is the least useful information you can
                        track and it's the most widely tracked - Peter Lynch
                      </p>
                      <p>Games are won by players who focus on the playing field
                        and not by those whose eyes are glued to the scoreboard
                        – Warren Buffet</p>
                    </blockquote>
                    <p><span style="color:#0000FF">Our View:</span> We believe
                      that fixation with the price of a stock is one of the key
                      reasons for irrational behaviour by stock investors. The
                      key is the inherent value of the stock rather than the
                      stock price movement.</p>
                    <p>The malady of commercial crisis is not a matter of the
                      purse but of the mind - John Stuart Mill</p>
                    <p><span style="color:#0000FF">Our View:</span> All bubbles
                      and manias in the past have been fuelled by human
                      behaviour and passion. In our investment process study and
                      practice of behavioural science plays a crucial role. </p>
                    <blockquote class="blockquote-colored">
                      <p>October – this is one of the peculiarly dangerous
                        months to speculate in stocks. The others are July,
                        January, September, April, November, May, March, June,
                        December, August and February - Mark Twain</p>
                      <p>Avoid hot stocks in hot industries - Peter Lynch</p>
                    </blockquote>
                    <p><span style="color:#0000FF">Our View:</span> We aim to
                      create wealth on the basis of fundamental research and are
                      fairly disciplined in our approach. Capital preservation
                      is central to our investment strategy. Accordingly, we
                      stay away from sophisticated financial instruments or
                      short term approach.</p>
                    <blockquote class="blockquote-colored">
                      <p>Don't quibble over eighths and quarters - Philip
                        fisher</p>
                      <p>You don't need to know a person’s exact weight to know
                        whether they are overweight or underweight - Benjamin
                        Graham</p>
                      <p>I'd prefer to be approximately right than to be
                        precisely wrong –John Maynard Keynes </p>
                    </blockquote>
                    <p><span style="color:#0000FF">Our View:</span> Magadh
                      Capital believes in range based forecasting and attempts
                      to analyze the drivers for various scenarios in as much
                      detail as possible. As a corollary we do not try to time
                      the market and its cycles. </p>
                    <p>There is always something to worry about. Keep an open
                      mind to new ideas- Peter Lynch</p>
                    <p><span style="color:#0000FF">Our View:</span> Even as we
                      are quite sceptical in our approach we also recognize that
                      for creating wealth one needs to have some amount of
                      optimism regarding the long term future. </p>
                    <p>Opportunities come infrequently. When it rains put out
                      the bucket, not the thimble - Warren Buffet</p>
                    <p><span style="color:#0000FF">Our View:</span> This is in
                      line with our perspective of running a concentrated
                      portfolio. </p>
                    <blockquote class="blockquote-colored">
                      <p>You can't predict, you can prepare - Howard marks </p>
                      <p>Don't become so attached to a winner that complacency
                        sets in and you stop monitoring the story - Peter
                        Lynch</p>
                    </blockquote>
                    <p><span style="color:#0000FF">Our View:</span> It is easier
                      to come up with new ideas than it is to let go of old
                      ones</p>
                    <p>The narrative fallacy is associated with our
                      vulnerability to over interpretation and our predilection
                      for compact stories over raw truths. - NassimTaleb</p>
                    <p>Chief losses to investors come from the purchase of low
                      quality securities at times of favourable business
                      conditions - Benjamin Graham </p>
                    <h4>On contrarian investing</h4>
                    <blockquote class="blockquote-colored">
                      <p>It is largely the fluctuations which throw up bargains
                        and the uncertainty due to the fluctuations which
                        prevent other people from taking advantage from them-
                        John Maynard Keynes</p>
                      <p>The horse to bet on is the one more likely to win than
                        most people expect - Will Bonner </p>
                      <p>Don't follow the crowd - Philip Fisher</p>
                      <p>Investors should put money to work amidst the throes of
                        a bear market appreciating that things will likely get
                        worse before they get better - Seth Klarman </p>
                      <p>The true contrarian is not one who shorts a stock that
                        everyone else is buying but one who waits for things to
                        cool down and buys stocks that nobody cares about, and
                        especially those that Wall Street yawns at - Peter
                        Lynch</p>
                    </blockquote>
                    <p><span style="color:#0000FF">Our View:</span> Catching
                      tops and bottoms of a stock price is ideal but extremely
                      difficult to achieve. Hence if proper research is done and
                      if the stock is sought to be bought for long term then it
                      should be purchased in a bear market rather than
                      attempting to time the market.</p>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="image-padding-shadow"><img
                            src="assets/img/inner/ins1.jpg" alt></div>
                      </div>
                      <div class="col-md-6">
                        <h4>On portfolio construction</h4>
                        <p>We try to buy businesses with good to superb
                          underlying economics run by honest and able people and
                          buy them at sensible prices -Warren Buffet</p>
                        <p><span style="color:#0000FF">Our View:</span> This
                          essentially summarizes Magadh Capital’s
                          philosophy.</p>
                        <p>Buying a company with mediocre prospects just because
                          the stock is cheap is a losing prospect- Peter
                          Lynch</p>
                        <p><span style="color:#0000FF">Our View:</span> Magadh
                          Capital looks for bargain stocks but in this pursuit
                          does not compromise with the stock quality. Our
                          strategy is a mix of value and growth philosophies.
                        </p>
                      </div>
                    </div>
                    <blockquote class="blockquote-colored">
                      <p>Liking a store, a product, or a restaurant is a good
                        reason to get interested in a company but it is not
                        enough of a reason to own the stock - Peter Lynch </p>
                      <p>Don’t overstress diversification – Warren Buffet</p>
                      <p>All you need for successful investing is a few big
                        winners and the pluses from those will overwhelm the
                        minuses from the stocks that don't work out- Peter
                        Lynch</p>
                      <p>Do you know the only thing that gives me pleasure? It's
                        to see my dividends coming in- John D Rockefeller</p>
                      <p>You won't improve results by pulling out the flowers
                        and watering the weeds- Peter Lynch</p>
                    </blockquote>
                    <div class="row">
                      <div class="col-md-12">
                        <h4>On bottom up investing</h4>
                        <p>It's self-defeating to invest in good markets and get
                          out in bad ones. It is difficult to predict markets.
                          Also investors can become optimistic and pessimistic
                          at precisely the wrong times - Peter Lynch</p>
                        <p><span style="color:#0000FF">Our View:</span> Invest
                          in companies not in the stock market. Ignore short
                          term fluctuations.</p>
                        <p>Predicting the economy is futile. Predicting the
                          short term direction of the stock market is futile –
                          Peter Lynch</p>
                        <p><span style="color:#0000FF">Our View:</span> While
                          Magadh Capital is quite interested in trends in
                          economy and
                          markets it does not try to forecast them due to the
                          multitude of driving factors
                          and hence low probability of getting these forecasts
                          right. Accordingly, in
                          Magadh Capital’s investment process bottom up drivers
                          take a much bigger
                          role than the factors like macroeconomics, liquidity
                          etc. </p>
                      </div>
                    </div>
                  </section>
                </div>
 
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </section> -->