

<div id="hw-hero">

  <div id="page-header" class="about1">
    <div class="title-breadcrumbs">
    <div class="caption-box">

      <h1>The Non-negotiables</h1>
      <div class="thebreadcumb">
        <ul class="breadcrumb">
          <li>Integrity, Knowledge, Simplicity</li>
        </ul>
      </div>
    </div>

    </div>

  </div>
  <!-- END OF PAGE HEADER -->
</div>

<section class="content blog" id="backbone-content">
  <div class="row">
    <div class="col-sm-12">
      <!-- Blog Post-->
      <article>
        <div class="shadow-effect">

          <div class="post-content">

            <h2>THE <span>BACKBONE</span></h2>
            <hr width="15%">
            <p>Magadh Capital functions on the three broad pillars of –
              <br /><br />
              <span class="font-weight-bold"> a) Integrity and
                transparency–</span> in the entire gamut of
              the portfolio management practices as well as in operations,
              and in the way it deals with all its stakeholders. Magadh
              Capital places a lot of emphasis on keeping the
              sponsors’/investment managers’ interests aligned with those of
              its investors. Indeed, corporate governance acts as the first
              and foremost filter in our investment process. </p>

            <blockquote class="blockquote-colored">
              <p>“Look for three things in a person– intelligence, energy
                and integrity. If they don’t have the last one do not even
                bother with the first two”– Warren Buffet</p>
            </blockquote>

            <p>
              <b>b) Research and knowledge–</b> are the basic guiding
              principles at Magadh Capital for identifying stock ideas,
              portfolio construction and risk management. Learning is a
              continuous, ongoing process for us. We look at knowledge with
              a multi-disciplinary approach. Intensive reading, meeting
              people, deep thinking, having a curious mind, and attention to
              detail are some of the habits/practices/traits that we value
              in this regard. </p>

            <blockquote class="blockquote-colored">
              <p>If I had an hour to solve a problem and my life depended on
                the solution, I would spend the first 55 minutes determining
                the proper question to ask, for once I know the proper
                question, I could solve the problem in less than five
                minutes. – Albert Einstein</p>
            </blockquote>

            <p><b>c) Simplicity–</b> is what Magadh Capital practices, and
              adheres to during stock selection, and portfolio management –
              or for that matter, in everything that it does. For example,
              if a company’s business model is too complicated and vague
              then it may not be considered for inclusion in Magadh
              Capital’s portfolio.</p>

            <blockquote class="blockquote-colored">
              <p>If you can't explain it to a 6-year-old, you don't
                understand it yourself -
                Albert Einstein</p>
            </blockquote>

          </div>
        </div>
        <!-- End of Blog Post-->

      </article>

    </div>

  </div>
</section>
