    <div class="card card-body border-0 p-0">
                    <div class="row spacing-40">

                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>Application of The Actively Lazy
                                    Style of Investing</h2>
                                <div class="publish-date">Oct 2024</div>

                                <a class="button" target="_blank"
                                    rel="noopener noreferrer" 
                                    aria-labelledby="Application of The Actively Lazy
                                    Style of Investing"
                                    href="./assets/documents/InvestorsLetter/Investor letter_ October 2024.pdf"
                                    download="./assets/documents/InvestorsLetter/Investor letter_ October 2024.pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>

                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>Reflections Post The Third
                                    Anniversary of Our PMS</h2>
                                <div class="publish-date">Sep 2024</div>

                                <a class="button" target="_blank"
                                    rel="noopener noreferrer" aria-labelledby="Reflections Post The Third
                                    Anniversary"
                                    href="./assets/documents/InvestorsLetter/Investor letter_ September 2024.pdf"
                                    download="./assets/documents/InvestorsLetter/Investor letter_ September 2024.pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>

                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>Our Understanding of Risk</h2>
                                <div class="publish-date">Aug 2024</div>

                                <a class="button" target="_blank"
                                    rel="noopener noreferrer" aria-labelledby="Our Understanding of Risk"
                                    href="./assets/documents/InvestorsLetter/Investor letter_ August 2024.pdf"
                                    download="./assets/documents/InvestorsLetter/Investor letter_ August 2024.pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>

                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>What Shall We Pay Attention to in the
                                    Budget</h2>
                                <div class="publish-date">July 2024</div>

                                <a class="button" target="_blank"
                                    rel="noopener noreferrer"  aria-labelledby="e Pay Attention"
                                    href="./assets/documents/InvestorsLetter/Investor letter_ July 2024.pdf"
                                    download="./assets/documents/InvestorsLetter/Investor letter_ July 2024.pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>

                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>Inching Back to Fundamentals</h2>
                                <div class="publish-date">June 2024</div>

                                <a class="button" target="_blank"
                                    rel="noopener noreferrer" aria-labelledby="Inching Back to Fundamentals"
                                    href="./assets/documents/InvestorsLetter/Investor letter_ June 2024.pdf"
                                    download="./assets/documents/InvestorsLetter/Investor letter_ June 2024.pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>

                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>How are we positioning our portfolio
                                    for election results ?</h2>
                                <div class="publish-date">May 2024</div>

                                <a class="button" target="_blank"
                                    rel="noopener noreferrer"  aria-labelledby="How are we positioning our portfolio
                                    for election results "
                                    href="./assets/documents/InvestorsLetter/Investor letter_May 2024.pdf"
                                    download="./assets/documents/InvestorsLetter/Investor letter_May 2024.pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>

                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>Fair Value Estimation 101 At Magadh
                                    PMS</h2>
                                <div class="publish-date">March 2024</div>

                                <a class="button" target="_blank"
                                    rel="noopener noreferrer" aria-labelledby="Fair Value Estimation 101 At Magadh
                                    PMS"
                                    href="./assets/documents/InvestorsLetter/Investor letter_Mar 2024.pdf"
                                    download="./assets/documents/InvestorsLetter/Investor letter_Mar 2024.pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>
                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>How to Approach the Markets Near all
                                    Time Highs; Can The Correction in Small and
                                    Mid Caps Turn into a Rout?</h2>
                                <div class="publish-date">Feb 2024</div>

                                <a class="button" target="_blank"
                                    rel="noopener noreferrer" aria-labelledby="How to Approach the Markets Near all
                                    Time Highs;"
                                    href="./assets/documents/InvestorsLetter/Investor letter_Feb 2024 PDF.pdf"
                                    download="./assets/documents/InvestorsLetter/Investor letter_Feb 2024 PDF.pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>

                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>Coal Based Power: Too Early to Write
                                    the Epitaph</h2>
                                <div class="publish-date">Jan 2024</div>

                                <a class="button" target="_blank" 
                                    rel="noopener noreferrer" aria-labelledby="Coal Based Power: Too Early to Write
                                    the Epitaph"
                                    href="./assets/documents/InvestorsLetter/Magadh Capital PMS Investor letter_Jan2024 .pdf"
                                    download="./assets/documents/InvestorsLetter/Magadh Capital PMS Investor letter_Jan2024 .pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>

                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>Diversification; Why, How Much, and
                                    How</h2>
                                <div class="publish-date">Sep 2023</div>

                                <a class="button" target="_blank" 
                                    rel="noopener noreferrer" aria-labelledby="Diversification; Why, How Much, and
                                    How"
                                    href="./assets/documents/InvestorsLetter/Diversification_Magadh_Investor letter Sep2023.pdf"
                                    download="./assets/documents/InvestorsLetter/Diversification_Magadh_Investor letter Sep2023.pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>

                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>Valuations, And Our Bias For DCF
                                    Method</h2>
                                <div class="publish-date">Aug 2023</div>

                                <a class="button" target="_blank"
                                    rel="noopener noreferrer" aria-labelledby=" And Our Bias For DCF"
                                    href="./assets/documents/InvestorsLetter/Investor letter_Valuations, And Our Bias For DCF Method.pdf"
                                    download="./assets/documents/InvestorsLetter/Investor letter_Valuations, And Our Bias For DCF Method.pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>

                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>Loss Aversion, Prospect theory, and
                                    Stock Investing</h2>
                                <div class="publish-date">July 2023</div>

                                <a class="button" target="_blank"
                                    rel="noopener noreferrer" aria-labelledby="Loss Aversion, Prospect theory"
                                    href="./assets/documents/InvestorsLetter/Investor letter_Loss Aversion, Prospect theory, and Stock Investing.pdf"
                                    download="./assets/documents/InvestorsLetter/Investor letter_Loss Aversion, Prospect theory, and Stock Investing.pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>

                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>The Difference Between Semi
                                    Conductors and Fighter Jet Engines</h2>
                                <div class="publish-date">June 2023</div>

                                <a class="button" target="_blank"
                                    rel="noopener noreferrer" aria-labelledby="he Difference Between Semi
                                    Conductors and Fighter Jet Engines"
                                    href="./assets/documents/InvestorsLetter/Magadh Capital Newsletter_2.pdf"
                                    download="./assets/documents/InvestorsLetter/Magadh Capital Newsletter_2.pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>

                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>Amid uncertainties on global
                                    macreconomic situation India seems well
                                    grooved</h2>
                                <div class="publish-date">May 2023</div>

                                <a class="button" target="_blank"
                                    rel="noopener noreferrer" aria-labelledby="Amid uncertainties on global
                                    macreconomic situation India seems well
                                    grooved"
                                    href="./assets/documents/InvestorsLetter/Magadh Capital Newsletter May 2023_New  PDF.pdf"
                                    download="./assets/documents/InvestorsLetter/Magadh Capital Newsletter May 2023_New  PDF.pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>
                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>Risks Receding: Expect Equity Markets
                                    To Improve in 2HFY2024</h2>
                                <div class="publish-date">April 2023</div>

                                <a class="button" target="_blank"
                                    rel="noopener noreferrer" aria-labelledby="Risks Receding: Expect Equity Markets
                                    To Improve in 2HFY2024"
                                    href="./assets/documents/InvestorsLetter/Magadh Capital Newsletter April 2023.pdf"
                                    download="./assets/documents/InvestorsLetter/Magadh Capital Newsletter April 2023.pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>

                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>Markets Seem Interesting
                                    Not-withstanding the Macro Noise</h2>
                                <div class="publish-date">March 2023</div>

                                <a class="button" target="_blank"
                                    rel="noopener noreferrer" aria-labelledby="Markets Seem Interesting
                                    Not-withstanding the Macro Noise"
                                    href="./assets/documents/InvestorsLetter/Magadh Capital Newsletter March 2023.pdf"
                                    download="./assets/documents/InvestorsLetter/Magadh Capital Newsletter March 2023.pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>
                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>Budget FY2024: Don’t Fix it If It
                                    Ain’t Broke</h2>
                                <div class="publish-date">Feb 2023</div>

                                <a class="button" target="_blank"
                                    rel="noopener noreferrer" aria-labelledby="Budget FY2024: Don’t Fix it If It
                                    Ain’t Broke"
                                    href="./assets/documents/InvestorsLetter/Magadh Capital Budget February 2023.pdf"
                                    download="./assets/documents/InvestorsLetter/Magadh Capital Budget February 2023.pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>
                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>Market Valuations Fullish But Long
                                    Term Return Matrix Has an Upward Tilt</h2>
                                <div class="publish-date">Sep 2022</div>

                                <a class="button" target="_blank"
                                    rel="noopener noreferrer" aria-labelledby="Market Valuations Fullish But Long
                                    Term Return Matrix Has an Upward Tilt"
                                    href="./assets/documents/InvestorsLetter/Magadh Capital Newsletter - September 2022.pdf"
                                    download="./assets/documents/InvestorsLetter/Magadh Capital Newsletter - September 2022.pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>

                        <div class="row spacing-40">
                            <div class="post-content">
                                <h2><a></a>Anatomy of an Expensive Stock</h2>
                                <div class="publish-date">Aug 2022</div>

                                <a class="button" target="_blank"
                                    rel="noopener noreferrer" aria-labelledby="Anatomy of an Expensive Stock"
                                    href="./assets/documents/InvestorsLetter/Magadh Capital August 2022.pdf"
                                    download="./assets/documents/InvestorsLetter/Magadh Capital August 2022.pdf"
                                    target="_blank">Continue reading →</a></div>
                        </div>

                    </div>
                </div>