<div id="hw-hero">
  <div id="page-header" class="contact">
    <div class="title-breadcrumbs">
      <h1>OUR TEAM</h1>
    </div>
  </div>
  <!-- END OF PAGE HEADER -->
</div>

<section class="content blog">
  <div class="row">
    <div class="col-sm-12">
      <!-- Blog Post-->
      <article>
        <div class="shadow-effect">
          <div class="post-content">
            <h2>OUR <span>TEAM</span></h2>
            <hr />
            <div class="row">
              <div class="col-md-6">
                <div style="display: flex">
                  <h3 style="color: #4b4949;">Vipul Prasad, CEO/Designated Partner –</h3>
                  <a
                    href="https://www.linkedin.com/in/vipul-prasad-4860319/"
                    class="fa fa-linkedin"
                    style="
                      font-size: larger;
                      height: 30px;
                      padding: 6px;
                      margin: 12px 5px;
                      background: #007bb5;
                      color: white;
                      border-radius: 50%;
                      text-decoration: none;
                    "
                  ></a>
                </div>

                <!-- <p>Vipul had set up Magadh Capital in 2016. Earlier, he had worked for twelve years in equity research with many large and well reputed investment banks (ten years with Morgan Stanley and before that, one year each with Motilal Oswal Securities and ABN AMRO) advising mutual funds, sovereign wealth funds, hedge funds and PE funds on stock investments based on fundamental research in Indian metals and mining, cement and media sectors. Earlier in his career he had also worked with BASF India for one year in marketing, and with SAIL (Steel Authority of India Ltd) for six years in operations, maintenance and planning.</p> -->
                <p>
                  With a wealth of experience spanning over several domains,
                  Vipul has been at the helm of Magadh Capital PMS as its fund
                  manager since August 2021. Prior to this role, he served as
                  the fund manager for Magadh Capital's long-only equity fund
                  (Alternative Investment Fund, Category III) for approximately
                  three years. Vipul has more than twenty years’ experience in
                  Indian equity markets and has experienced several bull and
                  bear cycles.
                </p>

                <!-- <p>He has keen interest in history (including markets’), behavioural finance, economics and global geopolitics in general, and in specific topics like infrastructure development, poverty alleviation and human development in India. Vipul likes reading – especially non-fiction, is an occasional runner, and is an avid fan of Barcelona football club. He is actively involved in community development activities and regularly supports some good non-profit institutions.</p> -->
                <p>
                  Vipul's started his equity markets journey as an equity
                  research analyst with stints at esteemed institutions such as
                  Morgan Stanley, ABN Amro, and Motilal Oswal. Notably, he held
                  the position of Executive Director at Morgan Stanley's India
                  equity research team before venturing into establishing Magadh
                  Capital.
                </p>

                <p>
                  Before delving into the intricacies of the financial world,
                  Vipul gained invaluable experience in diverse fields,
                  including product management at BASF India and roles in
                  maintenance, planning, and operations at SAIL. He holds an MBA
                  (PGDM, Finance) from IIM Calcutta and a B.Tech in Mechanical
                  Engineering from IIT BHU, Varanasi.
                </p>
                <p>
                  Beyond his professional endeavors, Vipul is an avid reader
                  with a penchant for non-fiction literature, and is
                  particularly interested in topics such as history, psychology,
                  geopolitics, and economics. His insights are not confined to
                  the pages of books; he also shares his perspectives through
                  op-ed articles in various business newspapers and makes
                  occasional appearances on business news TV channels.
                </p>
                <p>
                  In essence, Vipul Prasad provides leadership and expertise in
                  the world of investment management to Magadh Capital PMS. He
                  brings a blend of experience, education, and intellectual
                  curiosity to his role as the head of Magadh Capital PMS.
                </p>
              </div>

              <div class="col-md-6">
                <div class="image-padding-shadow">
                  <img src="assets/images/vipul-prasad.jpg" alt="Vipul Prasad, CEO/Designated Partner" />
                </div>
              </div>

              <!-- Profile: Vivek Prasad, Designated Partner -->
              <div class="col-md-6">
                <h3 style="color: #6f6a6a;">Vivek Prasad, Designated Partner -</h3>

                <p>
                  With a multifaceted career spanning entrepreneurship,
                  marketing, equipment trading, and general management, Vivek
                  brings over twenty-five years of industry expertise to our
                  team.
                </p>
                <p>
                  Vivek is a seasoned professional with a rich portfolio of
                  experiences, having held pivotal roles in renowned
                  multinational corporations such as Tata International, the
                  Indian subsidiary of Marubeni Corp of Japan, and Bausch &
                  Lomb. His educational background includes an MBA from the
                  prestigious Narsee Monjee Institute of Management Studies
                  (NMIMS), Mumbai, complemented by a B.Tech in Mechanical
                  Engineering.
                </p>

                <p>
                  Beyond the boardroom, Vivek is an adventurous soul with a
                  passion for exploration. An avid trekker and outdoor
                  enthusiast, he is always open to traversing new landscapes and
                  engaging in various outdoor sports. His adventurous spirit not
                  only fuels his personal pursuits but also reflects his
                  approach to tackling professional challenges with resilience
                  and determination.
                </p>
                <p>
                  With Vivek at the helm, Magadh Capital is guided by a leader
                  whose diverse experiences, educational pedigree, and
                  adventurous spirit drive innovation and excellence in the
                  field of PMS.
                </p>
              </div>

              <div class="col-md-6">
                <div class="image-padding-shadow">
                  <img src="assets/images/Vivek.jpg"  alt="Vivek Prasad, Designated Partner" />
                </div>
              </div>

              <!-- Profile:Vivek Prasad, Designated Partner ends -->
              <!-- Start: Purnendra Kishore, Director -->
              <div class="col-md-6">
                <h3 style="color: #6f6a6a;">Purnendra Kishore, Director –</h3>

                <p>
                  With a distinguished career spanning over two and half
                  decades, Purnendra, fondly known as PK, has served as a CXO
                  across diverse sectors including Financial Services, Family
                  Office, EdTech, Technology, and EPC, for esteemed Indian, US,
                  and European MNCs.
                </p>

                <p>
                  Throughout his professional journey, PK has showcased his
                  entrepreneurial and intrapreneurial acumen, spearheading the
                  incubation, scaling, and turnaround of businesses. Notably, he
                  has played a pivotal role in setting up a family office and
                  has led many M&A initiatives on a global scale. His corporate
                  experience includes those with esteemed names such as L&T,
                  SAP, HP, Compaq, JKT Consulting, Adayana, and Edfora, where he
                  has excelled in areas ranging from P&L Management, Strategy,
                  M&A, venture fund management, and Project Management, to Sales
                  and Marketing.
                </p>

                <p>
                  PK is a well-respected figure in academia, serving as a
                  visiting faculty at several leading B-Schools. He imparts
                  knowledge on topics such as Innovation and Entrepreneurship,
                  and Corporate Strategy, showcasing his dedication to student
                  development and societal empowerment through technology-led
                  education and skill development. PK is widely recognized as a
                  thought leader in the industry, offering valuable guidance to
                  founders on EdTech business models.
                </p>
                <p>
                  PK holds a B.Tech. in Mechanical Engineering from the Indian
                  Institute of Technology, BHU, Varanasi, and an MBA (PGDBM)
                  from the prestigious Indian Institute of Management, Kolkata.
                  He is a recipient of the IIM Calcutta Gold Medal and Roll of
                  Honour, as well as the Mobar Gold Medal, underscoring his
                  academic excellence and leadership prowess.
                </p>
                <p>
                  Overall Purnendra Kishore brings a wealth of experience,
                  leadership, expertise, and academic prowess to our team at
                  Magadh Capital, driving rigour and excellence in the realm of
                  PMS.
                </p>
              </div>

              <div class="col-md-6">
                <div class="image-padding-shadow image-autoalign">
                  <img src="assets/images/Purnendra.jpg" alt="Purnendra Kishore, Director" />
                </div>
              </div>

              <!-- End: Investment Analyst: Ketan Mehta -->

              <!--Start: Tejas Shigwan, Senior Investment Analyst– -->
              <div class="col-md-6">
                <h3 style="color: #6f6a6a;">Tejas Shigwan, Senior Investment Analyst –</h3>

                <p>
                  Tejas joined our team in 2021 and has over 7 years of
                  invaluable experience in the financial services industry.
                  Prior to joining Magadh Capital, he held significant roles at
                  renowned firms such as Axis Securities and Kotak Securities.
                </p>

                <p>
                  Tejas holds an MBA degree in Finance from ICFAI University,
                  complementing his hands-on experience in the field. With a
                  keen eye for market trends, he specializes in the fundamental
                  side of equity research, portfolio management, and risk
                  assessment. His expertise shines particularly in hunting for
                  new stocks, with a focus on the mid-cap and small-cap space.
                </p>

                <p>
                  Beyond his professional pursuits, Tejas likes reading and
                  outdoor activities. He enjoys delving into books and playing
                  outdoor games, which fuel his creativity and keep him
                  energized.
                </p>

                <p>
                  At Magadh Capital, Tejas Shigwan's dedication to thorough
                  research, and to fine tuning our process, coupled with his
                  passion for uncovering investment opportunities contribute
                  significantly to our success in delivering value to our
                  clients.
                </p>
              </div>

              <div class="col-md-6">
                <div class="image-padding-shadow">
                  <img src="assets/images/Tejash-Photo.JPG"  alt="Tejas Shigwan, Senior Investment Analyst" />
                </div>
              </div>

              <!--End: Tejas Shigwan, Senior Investment Analyst-->

              <!-- Start: Rajesh Kumar Sahu, Compliance Officer– -->
              <div class="col-md-6">
                <h3 style="color: #6f6a6a;">Rajesh Kumar Sahu, Compliance Officer –</h3>

                <p>
                  Rajesh, compliance officer at Magadh capital PMS, holds an MBA
                  in Finance from IBS, Mumbai, and boasts nearly 2 years of
                  industry experience.
                </p>

                <p>
                  Before joining Magadh Capital, Rajesh served as an Assistant
                  Manager at ICICI Securities Limited, where he honed his skills
                  and deepened his understanding of financial services industry.
                  Rajesh has a bachelor's degree in mathematics from Utkal
                  University, Bhubaneswar, underscoring his strong analytical
                  skills and commitment to excellence in the finance profession.
                </p>

                <p>
                  Beyond his professional responsibilities, Rajesh finds joy in
                  photography, capturing moments that inspire creativity and
                  offer unique perspectives. His passion for artistry and
                  attention to detail complement his role as Compliance Officer,
                  where precision and diligence are paramount.
                </p>
                <p>
                  At Magadh Capital, Rajesh Kumar Sahu's enthusiasm, detail
                  orientation, and dedication ensure that our operations adhere
                  to the highest standards of compliance, fostering trust and
                  confidence among our clients and other stakeholders.
                </p>
              </div>

              <div class="col-md-6">
                <div class="image-padding-shadow image-autoalign">
                  <img src="assets/images/Rajesh-Photo.jpg" alt="Rajesh Kumar Sahu, Compliance Officer"  />
                </div>
              </div>
              <!-- End: Rajesh Kumar Sahu, Compliance Officer– -->

              <!-- Start: Jayesh Hotchandani, Investment Associate – -->
              <div class="col-md-6">
                <h3 style="color: #6f6a6a;">Jayesh Hotchandani, Investment Associate –</h3>

                <p>
                  Jayesh is a graduate of H.R. College of Commerce and
                  Economics, holding a Bachelor's degree in Commerce (B.Com). He
                  is also a dedicated candidate pursuing the prestigious
                  Chartered Financial Analyst (CFA) certification, showcasing
                  his commitment to advancing his expertise in finance and
                  investment analysis.
                </p>

                <p>
                  Before joining Magadh Capital, Jayesh gained valuable
                  experience as a Transaction Processing Associate at Accenture
                  India, where he gained good understanding of handling complex
                  financial transactions. Additionally, he holds the NISM Series
                  15 Research Analyst Certificate, further highlighting his
                  dedication to professional development in the investment
                  industry. Jayesh likes reading books related to stock markets.
                </p>

                <p>
                  At Magadh Capital, Jayesh plays a vital role in fundamental
                  equity research, utilizing his strong analytical skills to
                  support the investment team in making well-informed decisions.
                  Creating and managing earnings models, writing company notes,
                  trying to identify new stock ideas etc are some of his key
                  focus areas. His unwavering dedication and passion for stock
                  market contribute significantly to our mission of delivering
                  value and excellence to our clients.
                </p>
                <p>
                  With Jayesh Hotchandani in our team, Magadh Capital continues
                  to excel and grow as a leading player in the investment
                  management industry, guided by expertise, diligence, and a
                  commitment to excellence.
                </p>
              </div>

              <div class="col-md-6">
                <div class="image-padding-shadow image-autoalign">
                  <img src="assets/images/Jayesh-Photo.jpg" alt="Jayesh Hotchandani, Investment Associate" />
                </div>
              </div>
              <!-- End: Jayesh Hotchandani,– -->
            </div>
          </div>
        </div>
        <!-- End of Blog Post-->
      </article>
    </div>
  </div>
</section>
