
<div id="hw-hero">
	<div class="header header1">
		<div class="slider-pro" id="index-slider">
			<div class="sp-slides">
				<!-- Slide 1 -->
				<div class="sp-slide">
					<img class="sp-image" src="assets/img/1_home.jpg" alt />
					<div class="hw-the-slider-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="hw-the-slider-container">
									<div class="hw-the-slider-captions sp-layer"
										data-show-transition="left" data-show-delay="800">
										<h2>Helping Our Investors Meet Their Wealth
											Objectives</h2>
										<!--<p>Magadh Capital is a Mumbai based long-only India equity fund registered as a category III AIF (Alternative Investment Fund) with SEBI (Securities and Exchange Board of India).</p>-->

										<p style="text-align:center;">Magadh Capital is a Mumbai
											based SEBI (Securities and Exchange Board of India) -
											registered Portfolio Manager</p>
										<!-- <a href="" class="hw-btn">Learn More</a> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="sp-slide">
					<img class="sp-image" src="assets/images/slide_backbone.jpg" alt />
					<div class="hw-the-slider-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="hw-the-slider-container">
									<div class="hw-the-slider-captions sp-layer"
										data-show-transition="left" data-show-delay="800">
										<h2>The Non-negotiables</h2>
										<p style="text-align:center; ">Integrity, Knowledge,
											Simplicity</p>
										<!-- <a href="" class="hw-btn">Learn More</a> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- End of Slide 1 -->

				<div class="sp-slide">
					<img class="sp-image" src="assets/images/inner_difference.jpg" alt />
					<div class="hw-the-slider-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="hw-the-slider-container">
									<div class="hw-the-slider-captions sp-layer"
										data-show-transition="left" data-show-delay="800">
										<h2>Our Conventional Style Makes Us Different</h2>
										<p style="text-align:center;">Old school investment style
											may seem boring but history suggests that if it is
											applied with discipline and patience it can lead to
											healthy wealth creation</p>
										<!-- <a href="" class="hw-btn">Learn More</a> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="sp-slide">
					<img class="sp-image" src="assets/images/invest_philosophy.jpg" alt />
					<div class="hw-the-slider-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="hw-the-slider-container">
									<div class="hw-the-slider-captions sp-layer"
										data-show-transition="left" data-show-delay="800">
										<h2>Alignment in Investment Philosophy and Life
											Philosophy</h2>
										<p style="text-align:center;">Application of a mix of top
											down as well as bottom-up approach to create a portfolio
											of stocks selected by dovetailing fundamental analysis
											and behavioural finance, and then running the portfolio
											in a disciplined manner</p>
										<!-- <a href="" class="hw-btn">Learn More</a> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Slide 3 -->
				<div class="sp-slide">
					<img class="sp-image" src="assets/img/home_tree.jpg" alt />
					<div class="hw-the-slider-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="hw-the-slider-container">
									<div class="hw-the-slider-captions sp-layer"
										data-show-transition="right" data-show-delay="800">
										<h2>Standing on The Giants' Shoulders</h2>
										<p style="text-align:center;">Our investing style draws
											heavily from top practitioners of fundamental style of
											investing,
											from our own experience in the field, and from the
											masters in the field of behavioural
											economics.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="sp-slide">
					<img class="sp-image" src="assets/images/slide_risk.jpg" alt />
					<div class="hw-the-slider-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="hw-the-slider-container">
									<div class="hw-the-slider-captions sp-layer"
										data-show-transition="right" data-show-delay="800">
										<h2>Awareness of Pitfalls</h2>
										<p style="text-align:center;">In keeping with our view
											that markets are inherently risky, we assign high
											priority to assessing, understanding and optimising risk
											pertaining to stocks and portfolios - Capital protection
											is a crucial focus area for us</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="homeCarousel" class="carousel slide slider-pro" data-bs-ride="carousel"
	data-bs-interval="6000" data-bs-pause="false" data-bs-wrap="true"
	data-bs-touch="true">
	<div class="carousel-indicators sp-slides">
		<button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0"
			class="active sp-slide" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1"
			class="sp-slide" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2"
			class="sp-slide" aria-label="Slide 3"></button>
		<button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="3"
			class="sp-slide" aria-label="Slide 4"></button>
		<button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="4"
			class="sp-slide" aria-label="Slide 5"></button>
		<button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="5"
			class="sp-slide" aria-label="Slide 6"></button>
	</div>

	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="assets/img/1_home.jpg" class="d-block w-100"
				alt="Helping Our Investors Meet Their Wealth Objectives">
			<div class="carousel-caption text-center">
				<h2>Helping Our Investors Meet Their Wealth Objectives</h2>
				<p style="text-align:center;">Magadh Capital is a Mumbai
					based SEBI (Securities and Exchange Board of India) -
					registered Portfolio Manager</p> </div>
		</div>

		<div class="carousel-item">
			<img src="assets/images/slide_backbone.jpg" class="d-block w-100"
				alt="The Non-negotiables">
			<div class="carousel-caption text-center">
				<h2 class>The Non-negotiables</h2>
				<p>Integrity, Knowledge, Simplicity</p>
			</div>
		</div>

		<div class="carousel-item">
			<img src="assets/images/inner_difference.jpg" class="d-block w-100"
				alt="Our Conventional Style Makes Us Different">
			<div class="carousel-caption text-center">
				<h2>Our Conventional Style Makes Us Different</h2>
				<p>Old school investment style
					may seem boring but history suggests that if it is
					applied with discipline and patience it can lead to
					healthy wealth creation</p>
			</div>
		</div>

		<div class="carousel-item">
			<img src="assets/images/invest_philosophy.jpg" class="d-block w-100"
				alt="Alignment in Investment Philosophy and Life Philosophy">
			<div class="carousel-caption text-center">
				<h2>Alignment in Investment Philosophy and Life Philosophy</h2>
				<p>Application of a mix of top
					down as well as bottom-up approach to create a portfolio
					of stocks selected by dovetailing fundamental analysis
					and behavioural finance, and then running the portfolio
					in a disciplined manner</p>
			</div>
		</div>

		<div class="carousel-item">
			<img src="assets/img/home_tree.jpg" class="d-block w-100"
				alt="Standing on The Giants Shoulders">
			<div class="carousel-caption text-center">
				<h2>Standing on The Giant's Shoulders</h2>
				<p>Our investing style draws
					heavily from top practitioners of fundamental style of
					investing,
					from our own experience in the field, and from the
					masters in the field of behavioural
					economics.</p>
			</div>
		</div>

		<div class="carousel-item">
			<img src="assets/images/slide_risk.jpg" class="d-block w-100"
				alt="Awareness of Pitfalls">
			<div class="carousel-caption text-center">
				<h2>Awareness of Pitfalls</h2>
				<p>In keeping with our view
					that markets are inherently risky, we assign high
					priority to assessing, understanding and optimising risk
					pertaining to stocks and portfolios - Capital protection
					is a crucial focus area for us</p>
			</div>
		</div>
	</div>

	<!-- <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button> -->
</div>

<!-- FEATURES -->
<section class="introtext container">

	<div class="row">
		<div class="col-sm-12">
			<!-- <div class="col-md-12" style="margin-bottom: 2%; font-style: italic; font-size: 16px;">
				
						Magadh Capital invites you to observe	<b> Vigilance Awareness Week 2025 from 27.10.2025 to 02.11.2025</b>
	 under the theme <b style="">'सतर्कताः हमारी साझा जिम्मेदारी' / 'Vigilance: Our Shared Responsibility'</b>.
	   You are requested to take the e-pledge by visiting <a href="https://pledge.mygov.in/cvc/" target="_blank">https://pledge.mygov.in/cvc </a> and reaffirm your commitment to integrity and transparency.
 				</div> -->
			<div class="row">

				<div class="col-md-6">
					<img src="assets/documents/futurestarsJan.png"
						alt="Magadh Future Stars Portfolio Performance: January'26'">
				</div>

				<div class="col-md-6">
					<img src="assets/documents/growthJan.png"
						alt="Magadh Value for Growth Portfolio Performance: January'26'">
				</div>
				<div class="col-md-12"
					style="margin-top: 2%; font-style: italic; font-size: 14px;">
					<b>
						*Data is for the period Aug 02, 2021 till January 31, 2026. Performance is as TWRR - Time Weighted Rate of Return. Data for more than one year has been annualized. Past performance is no guarantee of future returns. Performance data provided herein is not verified by SEBI.  **TRI - Total Return Index. All the figures shown are after deducting fees and expenses. 
						
					</b>
				</div>
			</div>

			<section class="col-sm-12 wow fadeInUp"
				style="padding: 0; background: #fff; padding-bottom: 40px; padding-top: 80px;">
				<div class="col-sm-12 wow fadeInUp" data-wow-duration="1000ms"
					data-wow-delay="300ms"
					style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;height:auto">
					<div class="shadow-effect" style="height:auto">
						<div class="row">
							<div class="col-sm-12">
								<div class="cta-title orange">Our Vision</div><br>
								<p style="font-size: 17px; text-align:justify   ;
              padding: 10px;">We at Magadh Capital aim for long term wealth
									creation for our investors by delivering healthy and
									consistent returns in the world class portfolio management
									services that we provide with high level of integrity. In
									this pursuit we intend to keep interests of all stake
									holders (investors, investment managers, employees and
									third-party service providers) largely aligned, with
									investors’ interests being the core focus of our
									business.</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="mb-2">
				<div style="  font-size: 17px">
					<p class=" " style="font-size: 17px"><span
							style="font-size:20px;"><font color="#F58220">"Magadh</font>
							<font color="#821517" class="ms-1">Capital</font></span> keeps our
						investors’ interests at the centre of everything that we do.</p>
					<p style="font-size: 17px; text-align:justify">The PMS invests in Indian
						listed equity markets based on a combination of conventional
						fundamental-research, and behavioural finance. The founder of Magadh
						Capital is a professional with rich experience in investment industry and
						other industries in senior positions, and with a solid academic
						background.</p>

					<p style="font-size: 17px">Magadh Capital’s investors are typically HNI
						(High Networth Individuals), family offices, corporates, financial
						institutions, and NRI’s (Non Resident Indians).</p>
				</div>
			</section>

			<div class="row  ">
				<div class="col-sm-12">
					<div class="block-grid-item wow fadeInRight" data-wow-duration="750ms"
						data-wow-delay="800ms">
						<div class="shadow-effect clickTo" style="height:auto;">
							<span class="typcn typcn-flow-children "
								style="display: contents;"></span>
							<h3 style="    font-size: 15px;" class="text-center">The Magadh
								Connection</h3>
							<p style="font-size: 17px; text-align:justify">The first pan-Indian
								empire at its peak - sometime in the second century BC - Magadh was a
								cradle for knowledge in ancient India. It remained the centre of culture
								and learning in India for almost thousand years starting about 5th
								century BC. During this period there was rapid progress in politics,
								economics, literature, religion, and philosophy. While eminent centres
								of learning like Nalanda and Vikramshila universities flourished in
								Magadh, two great religions - Buddhism and Jainism, too were founded
								there.</p>

							<p style="font-size: 17px; text-align:justify">Magadh also saw some
								brilliant developments in the fields of mathematics, astrology,
								astronomy, warfare and medicine. Large parts of this era were marked by
								relative peace which was facilitated by the farsightedness of the
								leaders of the empire who focused on efficient mitigation of external
								and internal threats.</p>

							<p style="font-size: 17px; text-align:justify">This approach to life - of
								deep thinking, seeking wisdom, solid execution, and risk management -
								inspires us in every aspect of our philosophy and process at Magadh
								Capital. In our pursuit for excellence in fund management, this approach
								also helps us in our attempt to develop a mindset which seeks to
								identify facts, and their relationships.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- BACKBONE -->
<section class="aboutus" id="backbone">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-md-6 wow fadeInLeft" data-wow-duration="600ms"
				data-wow-delay="600ms">
				<div style="height: 3px; width: 30%;" class="bg-primary"></div>
				<h2>THE <span class="text-primary">BACKBONE</span></h2>
				<p style="text-align:justify;">The fund functions on the three broad pillars
					of - <br />
					<b>a) Integrity and transparency – </b>in the entire gamut of the fund
					management practices as well as in operations, and in the way the fund
					deals with all its stakeholders. Magadh Capital places a lot of emphasis on
					keeping the managers’ interests aligned with those of its investors. <br />
					<b>b) Research and knowledge - </b>are the basic guiding principles for
					identifying stock ideas, portfolio construction and risk management.
					Learning is a continuous, ongoing process for us. <br />
					<b>c) Simplicity -</b> is what the fund practices, and adheres to during
					stock selection, and portfolio management - or for that matter, in
					everything that it does.</p>
				<!-- <a class="btn btn-default" routerLink="/backbone" role="button">Read more</a> -->
				<a type="button" class="btn btn-default">Read more</a>
			</div>
			<div class="col-sm-4 col-md-6"></div>
		</div>
	</div>
</section>

<!-- MAGADH DIFFERENCE -->
<section class="aboutus mag-difference" id="difference">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-md-6 wow FadeInLeft" data-wow-duration="600ms"
				data-wow-delay="600ms">
				<div style="height: 3px; width: 30%;" class="bg-primary"></div>
				<h2>THE <span class="text-primary">MAGADH DIFFERENCE</span></h2>
				<ul>
					<li>Intense focus on risk mitigation and capital protection - No attempt to
						time the market but prepared to take occasional cash calls to avoid deep
						and prolonged bear markets</li>
					<li>Amalgamation of fundamental research and behavioural finance</li>
					<li>Active approach based on a mix of core calls, tactical calls and
						counter consensus calls</li>
					<li>Dovetailing of deep quantitative work with plausible narratives</li>
					<li>Mix of top down and bottom up approach</li>
				</ul>
			</div>
			<div class="col-sm-4 col-md-6"></div>
		</div>
	</div>
</section>

<!-- PHILOSOPHY -->
<section class="aboutus investment" id="philosophy">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-6"></div>
			<div class="col-sm-8 col-md-6">
				<div class="row no-gutter wow fadeInUp" data-wow-duration="600ms"
					data-wow-delay="600ms">
					<div style="height: 3px; width: 30%;" class="bg-primary"></div>
					<h2>INVESTMENT <span style="text-transform:uppercase;"
							class="text-primary">Framework</span></h2>
					<p style="text-align:justify">Magadh Capital’s portfolio construction is
						based on its proprietary FACTS boxes validation process which optimizes
						the risk-reward profile of the portfolio. The stock selection process is
						an intensive one based on a combination of qualitative as well as
						quantitative measures.</p>
					<p style="text-align:justify">We follow a conventional, disciplined
						approach backed by fundamental bottom-up/top-down research to identify
						good stocks with moderate risks at fair price. We are keen for contrarian
						opportunities if we see strength in a company that is being missed by the
						market for some reversible reasons.<br> Ours is a blend of growth and
						value styles. We look to figure out a stock’s fair value in a range backed
						by our fundamental equity research process and thus attempt to identify
						instances of market mispricing. DCF (Discounted cash flow) method forms
						the core of our valuation exercise though we do apply other methods
						too.</p>
				</div>
				<a type="button" class="btn btn-default">Read more</a>
			</div>
		</div>
	</div>
</section>

<!-- RISK MANAGEMENT -->
<section class="aboutus risk" id="risk-management">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-6"></div>
			<div class="col-sm-8 col-md-6">
				<div class="row no-gutter wow fadeInUp" data-wow-duration="600ms"
					data-wow-delay="600ms">
					<div style="height: 3px; width: 30%;" class="bg-primary"></div>
					<h2>RISK <span style="text-transform:uppercase;"
							class="text-primary">MANAGEMENT</span></h2>
					<p style="text-align:justify;">We work with the understanding that markets
						are inherently risky. We see possibility of permanent capital erosion or
						of poor returns in the long run as the central risk factor and strive to
						minimize this risk - as our first goal. Magadh Capital does not see stock
						price dip due to short term volatility as a measure or indicator of risk.
						<br>
						Our investment philosophy and style have been influenced heavily by our
						focus on alleviation of risks in our pursuit for wealth creation for our
						investors. Our investment process is designed to assist us in identifying
						key risk factors, in trying to estimate the range of probabilities for
						various risk factors, and in thinking of impact of those risk factors. At
						the same time, while we score well on the scale of risk aversion, we are
						not loss averse over near term especially if we are convinced regarding
						long term opportunities.
					</p>
				</div>
				<a type="button" class="btn btn-default">Read more</a>
			</div>
		</div>
	</div>
</section>

<!-- DISCLAIMER PROJECTS -->
<section class="projects container mt-5 mb-5">
	<div class="row">
		<h2 class="text-center"><span class="text-primary">DISCLAIMER</span></h2>
		<div class="col-sm-12">
			<div class="row mb-3">
				<div class="col-6 text-start">PMS Registration: INP000007155</div>
				<div class="col-6 text-end">AIF Registration: IN/AIF3/16-17/0279</div>
			</div>
		</div>
		<div class="col-sm-12 mb-4">
			<p class="mb-2">Investor complaint during the last month</p>
			<table class="table table-bordered text-center align-middle mb-0">
				<tbody>
					<tr>
						<td>At the beginning of the last month</td>
						<td>Received during the last month</td>
						<td>Resolved during the last month</td>
						<td>Pending at the end of the last month</td>
					</tr>
					<tr>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-12">
			<p class="mb-4" style="text-align:justify">Thank you for your interest in our
				website at Magadhcapital.com. Your use of this website, including the
				content, materials and information available on or through this website
				(together, the "Materials"), is governed by these Terms of Use (these
				"Terms"). By using this website, you acknowledge that you have read and
				agree to these Terms.<br /><br />
				All materials on this site is for informational purposes only and does not
				constitute a financial promotion of any products and services. No client or
				prospective client should assume that any information presented and/or made
				available on this website serves as the receipt of, or a substitute for,
				personalized communication which can only be provided through formal
				channels of communication. </p>
			<div class="text-center pb-4"><a class="btn btn-default"
					routerLink="/disclaimer" role="button">Read more</a></div>
		</div>
	</div>
</section>

<!-- CONTACT MAP FOOTER SECTION -->
<section class="footer" style="padding:0" id="contact-us">
	<div class="footer-widgets1">
		<div class="row1">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7545.124525617597!2d72.8306556!3d18.99493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cef3836311c1%3A0x8cfa9225e0aa9bca!2sMarathon%20Futurex!5e0!3m2!1sen!2sin!4v1748877981979!5m2!1sen!2sin"
				width="100%" height="350" style="border:0;" allowfullscreen></iframe>
		</div>
	</div>
</section>

<!-- Modal -->
<!-- <div class="modal fade mt-2" #exampleModal tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content position-relative">
      
       <button type="button"
              class="btn-close position-absolute top-0 end-0 m-2 bg-light"
              data-bs-dismiss="modal" 
              aria-label="Close" (click)="closeModal()">
      </button>

      <img src="../../assets/documents/Integrity-Pleadge.jpeg"
           alt="Integrity-Pleadge"
           class="w-100 rounded"
           style="max-width: 610px; height: auto;">
    </div>
  </div>
</div> -->
