      <div class="card card-body border-0 p-0">
                    <div class="row spacing-40">
                        <div class="post-content">
                            <p>In this section we present material collated from
                                various sources that we think may help in
                                creating a valuable tool box for long term
                                investment process, for improving the process of
                                learning, for application of knowledge, and for
                                life in general. We do not necessarily agree
                                with every viewpoint that is put forth in these
                                websites, blog sites, or books but we admire the
                                basic, rigorous, detailed and fresh approach to
                                learning that these sources offer.</p>

                            <ul class="nav nav-tabs" id="myTabss"
                                role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active"
                                        id="home-tab" data-bs-toggle="tab"
                                        data-bs-target="#home" type="button"
                                        role="tab" aria-controls="home"
                                        aria-selected="true">WEBSITES AND
                                        BLOGS</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#profile" type="button"
                                        role="tab" aria-controls="profile"
                                        aria-selected="false">BOOKS</button>
                                </li>

                            </ul>
                            <div class="tab-content" id="myTabssContent">
                                <div class="tab-pane fade show active" id="home"
                                    role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row spacing-40">
                                        <div class="post-content"
                                            style="padding: 10px;">
                                            <h6
                                                style="font-size: 14px;text-transform: none;"><a
                                                 aria-label="blog devoted"
                                                    href="https://www.fs.blog/blog/"
                                                    target="_blank">https://www.fs.blog/blog/</a></h6>
                                             <div style="height: 2px; width: 5%;" class="bg-secondary mb-2"></div>
                                            <p>

                                                Farnam Street is devoted to
                                                helping people develop an
                                                understanding of how the world
                                                really works, make better
                                                decisions, and live a better
                                                life. Shane Parish and his team
                                                address such topics as mental
                                                models, decision making,
                                                learning, reading, and the art
                                                of living.</p>
                                        </div>
                                    </div>
                                    <div class="row spacing-40">
                                        <div class="post-content"
                                            style="padding: 10px;">
                                            <h6
                                                style="font-size: 14px;text-transform: none;"><a
                                                    href="http://pages.stern.nyu.edu/~adamodar/"
                                                    target="_blank">http://pages.stern.nyu.edu/~adamodar/</a></h6>
                                             <div style="height: 2px; width: 5%;" class="bg-secondary mb-2"></div>
                                            <p>Professor Aswath Damodaran
                                                teaches corporate finance and
                                                valuation at the Stern School of
                                                Business at New York University
                                                and is widely recognized as an
                                                authority on business
                                                valuations.</p>
                                        </div>
                                    </div>
                                    <div class="row spacing-40">
                                        <div class="post-content"
                                            style="padding: 10px;">
                                            <h6
                                                style="font-size: 14px;text-transform: none;"><a
                                                    href="http://www.collaborativefund.com/blog/"
                                                    target="_blank">http://www.collaborativefund.com/blog/</a></h6>
                                             <div style="height: 2px; width: 5%;" class="bg-secondary mb-2"></div>
                                            <p>Collaborative fund is a team of
                                                investors who are trying to
                                                balance growth and returns with
                                                social mission. Their website is
                                                quite rich in content pertaining
                                                to investing.</p>
                                        </div>
                                    </div>
                                    <div class="row spacing-40">
                                        <div class="post-content"
                                            style="padding: 10px;">
                                            <h6
                                                style="font-size: 14px;text-transform: none;"><a
                                                    href="http://jasonzweig.com/"
                                                    target="_blank">http://jasonzweig.com/</a></h6>
                                             <div style="height: 2px; width: 5%;" class="bg-secondary mb-2"></div>
                                            <p>This site helps people learn what
                                                they need in order to think for
                                                themselves as an investor. There
                                                is something here for everyone
                                                from the
                                                beginner to advanced
                                                investors.</p>
                                        </div>
                                    </div></div>
                                <div class="tab-pane fade" id="profile"
                                    role="tabpanel"
                                    aria-labelledby="profile-tab"> <p>We believe
                                        that reading is a very important part of
                                        long-term equity investment process.
                                        Here we list down some books that we
                                        believe can add value to the repertoire
                                        of an investor. Notably, we have not yet
                                        read many of these books though they are
                                        in our bucket list. On the other hand,
                                        we have read many of these books more
                                        than once and some of them act as
                                        reference material quite regularly.</p>

                                    <h3>Investments</h3>

                                    <p>One up on wall street - Peter Lynch<br>

                                        Beating the Street - Peter Lynch<br>

                                        Common Stocks and Uncommon Profits -
                                        Philip Fisher<br>

                                        Intelligent Investor - Benjamin
                                        Graham<br>

                                        Security Analysis - Benjamin Graham<br>

                                        The Manual of Ideas - John
                                        Mihajlevic<br>

                                        Education of a Value Investor - Guy
                                        Spier<br>

                                        The Dhandho Investor - Mohnish
                                        Pabrai</p>

                                    <h3>Autobiography/Biography</h3>

                                    <p>The Snowball: Warren Buffet and the
                                        business of life - Alice Shroeder<br>

                                        The Warren Buffet Way - Robert
                                        Hagstrom<br>

                                        Buffet: The Making of an American
                                        Capitalist - Roger Lowenstein<br>

                                        Tap dancing to Work: Warren Buffet on
                                        practically Everything - Carol
                                        Loomis<br>

                                        Seeking Wisdom - From Darwin to Munger -
                                        Peter Bevelin<br>

                                        Poor Charlie's Almanac - Warren
                                        Buffet<br>

                                        The Autobiography of Benjamin
                                        Franklin<br>

                                        Titan: The Life of John D Rockefeller -
                                        Ron Chernow <br>
                                        Steve Jobs - Walter Isaacson<br>

                                        The House of Morgan - Ron Chernow<br>

                                        Three Merchants of Bombay - Lakshmi
                                        Subramanian<br>

                                        The Story of my experiments with Truth -
                                        M.K.Gandhi<br>

                                        Seneca - Letters from a Stoic<br>

                                        Lenin - Robert Service<br>

                                        The Last Mughal - Willaim Dalrymple<br>

                                        Genghis Khan - John Man<br>

                                        Lords of Finance - Liaquat Ahamed<br>

                                        Hedgehogging - Barton Biggs</p>

                                    <h3>Risk</h3>

                                    <p>Against the Gods - Peter Bernstein<br>

                                        A Demon of our design - Richard
                                        Bookstaber<br>

                                        The (Mis)Behaviour of Markets - Benoit
                                        Mandelbrot<br>

                                        The Most Important Thing - Howard
                                        Marks</p>

                                    <h3>Behavioral Economics</h3>

                                    <p>Irrational Exuberance - Robert
                                        Shiller<br>

                                        A Random Walk Down Street - Burton
                                        Malkiel<br>

                                        Thinking Fast and Slow - Daniel
                                        Kahneman<br>

                                        Misbehaving - Richard Thaler<br>

                                        Wisdom of the Crowds - James
                                        Suroweicki<br>

                                        Predictably Irrational - Dan Ariely<br>

                                        Behave - Robert Sapolsky<br>

                                        The Little Book of Behavioral Investing
                                        - James Montier<br>

                                        Superforecasting - Tetlock, Gardner<br>

                                        Before You know it - John Bargh</p>

                                    <h3>Valuations</h3>

                                    <p>Damodaran on Valuation - Aswath
                                        Damodaran<br>

                                        Corporate Valuation - Koller, Goedhart ,
                                        Wessels<br>

                                        Creating shareholder Value - Alfred
                                        Rappaport</p>

                                    <h3>Economics</h3>

                                    <p>Capital in the Twenty First Century -
                                        Thomas Piketty<br>

                                        Das Capital - Karl Marx<br>

                                        Essays in Persuasion - John Maynard
                                        Keynes<br>

                                        Macroeconomics - Dornbusch, Fischer ,
                                        Startz</p>

                                    <h3>Strategy</h3>

                                    <p>The Art of Strategy - Dixit, Nalebuff<br>

                                        Competitive Strategy - Michael
                                        Porter</p>

                                    <h3>Military History</h3>

                                    <p>Berlin - Antony Beevor<br>

                                        Stalingrad - Antony Beevor<br>

                                        Europe at War - Norman Davies<br>

                                        Is Paris Burning - Collins, Lapierre</p>

                                    <h3>Financial History</h3>

                                    <p>The Great Crash 1929 - John K
                                        Galbraith<br>

                                        Wealth, War and Wisdom - Barton
                                        Biggs<br>

                                        Bull ! - Maggie Mahar<br>

                                        Extraordinary Popular Delusions and the
                                        Madness of Crowds - Charles Mackay<br>
                                        Anatomy of the Bear - Russel Napier
                                    </p>

                                    <h3>History</h3>
                                    <p>Empires of the Word - Nicholas Ostler<br>

                                        Guns,Germs and Steel - Jared Diamond<br>

                                        Freedon at Midnight - Collins,
                                        Lapierre<br>

                                        O Jerusalem - Collins, Lapierre<br>

                                        The Wonder that was India - A.L.
                                        Basham<br>

                                        The Wonder that was India - SAA
                                        Rizvi<br>

                                        Early India - Romila Thapar<br>

                                        A History of the World in 100 Objects -
                                        Neil Macgregor<br>

                                        The Hammer and the Cross: A New History
                                        of the Vikings - Robert Ferguson<br>

                                        1491: New Revelations Before Columbus-
                                        Charles C Mann<br>

                                        Germania - Simon Winder <br>

                                        A Textbook of Historiography - E
                                        Sreedharan</p>

                                    <h3>Others</h3>

                                    <p>Introvert Entrepreneur - Beth Buelow<br>

                                        Quiet: The Power of Introverts in a
                                        world that can't stop talking - Susan
                                        Cain<br>

                                        Influence - Robert Cialdini<br>

                                        Arthashahstra by Kautilya<br>

                                        The Revenge of Geography - Robert D
                                        Kaplan</p></div>
                            </div>

                        </div>
                    </div>
                </div>