 

<div id="hw-hero">
    <div id="page-header" class="risk">
        <div class="title-breadcrumbs">
            <h1>Awareness of Pitfalls</h1>
            		<div class="thebreadcumb text-white">
		  <ul class="breadcrumb">
            <li>In keeping with our view that markets are inherently risky, we assign high priority to assessing, <br/>understanding and optimizing risks pertaining to stocks and portfolio</li>

		  </ul>
		</div>
        </div>
    </div>
</div>

<section class="content blog">
    <div class="row">
    
    <div class="col-sm-12">
    
     <!-- Blog Post-->
                    <article>
                     <div class="shadow-effect">
                        
                        <div class="post-content">
                        
    
                            <h2>RISK <span>MANAGEMENT</span></h2>
    
                             <div style="height: 2px; width: 5%;" class="bg-secondary mb-2"></div>
                           
                  <h3>Risks: Assessment and Alleviation</h3>
    <p>We work with the understanding that markets are inherently risky. We see possibility of permanent capital erosion or of poor returns in the long run as the central risk factor and strive to minimize this risk - as our first goal. The fund does not see stock price dip due to short term volatility as a measure or indicator of risk.  Our investment philosophy and style have been shaped by our focus on alleviation of risks in our pursuit for wealth creation for our investors. Our investment process by its nature assists us in identifying key risk factors, in trying to estimate the range of probabilities for various risk factors, and in thinking of impact of the risk factors. At the same time, while we score well on the scale of risk aversion, we are not loss averse over near term especially if we are convinced regarding long term opportunities. </p>  
    
    <p>Fundamental research is our most potent tool to identify and assess risks associated with a stock and a sector. The kind of stocks – those with robust corporate governance, good management, strong competitive positioning, and in many cases strong balance sheet – that we own in our portfolio curbs risks to our portfolio. In addition, a longer-term horizon – that we work with - disincentivizes sudden rush of adrenaline that often increases the probability of a risk factor playing out.  </p> 
    
    <p>For risk assessment we routinely monitor measures like standard deviation and beta. However, we do appreciate the limitations of these techniques. First, these are historical measures and may or may not be good indicators of risks in future. Further, risk assessment based on these measures makes some assumptions (some key ones being that bell curve properly represents stock price movement, and that stock prices are deterministic in nature) that may not be perfect.</p> 
    
    <p>Accordingly, we rely more on qualitative analysis for future risk estimation in the backdrop of Magadh’s investment horizon and risk definition, and on steps like </p> 
    <!-- • working with ranges rather than with points in forecasting,  <br/> -->
     <ul>
        <li>
            having not less than 10 stocks in the portfolio
        </li>
        <li>
             active monitoring of drawdown levels every six months and initiate remedial action if required 
        </li>
     </ul>
    <!-- • having not less than 10 stocks in the portfolio,<br/> -->
     <!-- • active monitoring of drawdown levels every six months and initiate remedial action if required <br/>   -->
    
    
    <!-- <p>The most potent way for risk alleviation, in Magadh Capital’s view, is to select stocks with low probability of capital erosion or of poor returns in the long run and this is what we practice. </p>  -->
    
                        </div>
                         </div>
                    <!-- End of Blog Post-->
    
                    <p class="shadow-effect">
                        <img src="assets/images/risk-management-practices1.png" alt="" style="width: 100%;"/>
                     
                     </p>
                    </article>
                  
    </div>
    
    
    
    </div>
    </section>